

<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="India Macro Advisors offers an independent and unbiased economic analysis on the Japanese economy. Through our forecast, regularly updated economic commentaries, over 2000 downloadable economic data and free use of interactive charts, we aim to contribute to an open and evidence-based debate on India's economic future.">
	<meta name="keywords" content="Abenomics, India economy, India economic analysis, India economic indicator, India economic policy, Bank of India Monetary policy, India GDP">
	<meta name="google-translate-customization" content="1fea04e055fb6965-35248e5248638537-g6177b01b3439e3b2-16"></meta>
	<meta property="og:type" content="article" />
	<meta property="og:image" content="http://content.japanmacroadvisors.com/images/japan-macro-advisors.png" />
	<meta property="og:site_name" content="japanmacroadvisors.com" />
	<meta property="og:url" content="http://www.indiamacroadvisors.com/" />
	<meta property="og:title" content="Unbiased Opinion on India's Economy | IMA offers independent analysis and easy access to economic data" />
	<meta property="og:description" content="India Macro Advisors offers an independent and unbiased economic analysis on the Japanese economy. Through our forecast, regularly updated economic commentaries, over 2000 downloadable economic data and free use of interactive charts, we aim to contribute to an open and evidence-based debate on India's economic future." />
	<meta property="fb:app_id" content="1597539907147636" />
	<base href="//www.indiamacroadvisors.com/">
	<title>Unbiased Opinion on India's Economy | IMA offers independent analysis and easy access to economic data</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/icon">
	<link rel="icon" href="favicon.ico" type="image/icon">

	<!-- fontawesome -->
	<link rel="stylesheet" href="//www.indiamacroadvisors.com/assets/plugins/font-awesome/css/font-awesome.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="//www.indiamacroadvisors.com/assets/plugins/bootstrap/css/bootstrap.css">
	
	<link href="//www.indiamacroadvisors.com/css/jquery.alerts.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="//www.indiamacroadvisors.com/css/intlTelInput.css" />
	<link rel="stylesheet" media="print" href="//www.indiamacroadvisors.com/css/print_page.css" />
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jquery.min.js"></script>
	<script src="//www.indiamacroadvisors.com/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jma.js"></script>
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/Sortable.min.js"></script>
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/handlebars-v2.0.0.js"></script>


	<!--  -->


	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/highstock.js"></script> 
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jquery.validate.js"></script>
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jspdf.min.js"></script>


	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/intlTelInput.min.js"></script>
	<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jquery.alerts.js"></script>
		<script type="text/javascript" src="//www.indiamacroadvisors.com/js/jquery.cookiebar.js"></script>

	<link rel="stylesheet" href="//www.indiamacroadvisors.com/assets/css/custom-styles-g.css" />
	<link rel="stylesheet" href="//www.indiamacroadvisors.com/assets/css/media.css" />
		<script type="text/javascript">
	
	
	
	var objectParams = {
		myChart : {
			folderList : []		}
	};
	var JMA = new Jma('//www.indiamacroadvisors.com/','home','index','','http',objectParams);
		</script>
</head>
<body>
		<!-- <div class="container"> -->
	<div id="overlay_loading">
		<div class="cssload-preloader">
			<div class="cssload-preloader-box">
				<div>L</div>
				<div>o</div>
				<div>a</div>
				<div>d</div>
				<div>i</div>
				<div>n</div>
				<div>g</div>
			</div>
		</div>
	</div>
	<!-- <div class="payloder">
		<div id="spinner">
			<i style="color:red;" class="fa fa-spinner fa-spin fa-5" ></i>
		</div>
	</div> -->
	<!-- Templates Start -->
	<script type="template/alanee" id="template_graph_full">

	
	<div class="h_graph_wrap notranslate pad0 {{#if chart_details.isRightPannel}}col-lg-8 col-xs-12{{else}}{{/if}}" id="h_graph_wrap_{{chart_details.chartIndex}}">
	<div class="h_graph_graph_area">
	<div class="h_graph_top_area">
	{{#if chart_details.isRightPannel}}
	{{#unless mychart_details.isMyChart}}
	<div class="EDHeading">
	<ul class="list-inline list_graphhead">
	<li class="nav_edittabs">
	<div class="ExportHeading graph-nav">
	<div class="nav-txt nav-txt-export"> 
	<i class="fa fa-pencil" style="color:#e60013"></i>&nbsp;Edit
	</div>
	</li>
	<li>
	<div class="ExportHeading graph-nav" id="EXDOW" >
	<div class="nav-txt nav-txt-export"> 
	<i class="fa fa-download" style="color:#e60013"></i>&nbsp;EXPORT
	</div>
	<div class="Exports sub-nav">
	<div id="FloatLeft"></div>
	<div id="" class="ExportItem1">
	<select id="export_chart_image_select_format_{{chart_details.chartIndex}}" class="addmore-select form-control">
	<option value="csv">Data (CSV)</option>
	<option value="jpeg">Image (JPEG)</option>
	<option value="png">Image (PNG)</option>
	<option value="pdf">Document (PDF)</option>
	<option value="ppt">PowerPoint (PPTX)</option>
	</select>
	<input type="button" class="btn btn-primary btn-sm" value="Export" onClick="JMA.JMAChart.exportChart({{chart_details.chartIndex}});">
	</div>
	</div>
	</div>
	</li>
	<li>
	<div class="ExportHeading graph-nav" id="EXDOW" >
	<div class="nav-txt nav-txt-save"> <i class="fa fa-line-chart" style="color:#e60013"></i>&nbsp;SAVE</div>
	<div class="Folders sub-nav">
	<div id="FloatLeft"></div>
	<div id="" class="ExportItem1">
	<select id="save_chart_select_folder_{{chart_details.chartIndex}}" class="addmore-select form-control mychart-select-addto-folder">
	{{#mychart_details.folderList}}
	<option value="{{folder_id}}">{{folder_name}}</option>
	{{/mychart_details.folderList}}
	</select>
	<input type="button" class="btn btn-primary btn-sm" value="Save" onClick="JMA.myChart.saveThisChartToFolder({{chart_details.chartIndex}});">
	</div>
	</div>
	</div>
	</li>
	</ul>
	</div>
	
	</div>
	{{/unless}}
	{{else}}
	{{#unless mychart_details.isMyChart}}
	<div class="EDHeading">
	<ul class="list-inline list_graphhead">
	<li>
	<div class="ExportHeading graph-nav" id="EXDOW" >
	<a href="javascript:;" class="nav-txt nav-txt-export"><i class="fa fa-file-image-o"></i> EXPORT</a>
	<div class="Exports sub-nav">
	<div id="FloatLeft"></div>
	<div id="" class="ExportItem1">
	<select id="export_chart_image_select_format_{{chart_details.chartIndex}}" class="addmore-select form-control">
	<option value="csv">Data (CSV)</option>
	<option value="jpeg">Image (JPEG)</option>
	<option value="png">Image (PNG)</option>
	<option value="pdf">Document (PDF)</option>
	<option value="ppt">PowerPoint (PPTX)</option>
	</select>
	<input type="button" class="btn btn-primary btn-sm" value="Export" onClick="JMA.JMAChart.exportChart({{chart_details.chartIndex}});">
	</div>
	<div id="" class="ExportItem2" style="display:none">
	<select id="export_chart_image_size_{{chart_details.chartIndex}}" class="addmore-select form-control">
	<option value="small">Small</option>
	<option value="medium">Medium</option>
	<option value="large">Large</option>
	</select>
	<input type="button" class="btn btn-primary btn-sm" value="Export" onClick="JMA.JMAChart.exportChart({{chart_details.chartIndex}});">
	</div>
	</div>
	</div>
	</li>
	<!-- <li>
	<div class="DownloadHeading graph-nav" id="EXDOW">
	<a href=""><i class="fa fa-download"></i> DOWNLOAD</a>
	<div class="Downloads sub-nav">
	<select id="download_data_select_format_{{chart_details.chartIndex}}" class="addmore-select form-control" >
	<option value="csv">Comma seperated Value (CSV)</option>
	</select>
	<input type="button"  class="btn btn-primary btn-sm" value="Download" onClick="JMA.JMAChart.downloadChartData({{chart_details.chartIndex}});" />
	</div>
	</div>
	</li> -->
	<li>
	<div class="ExportHeading graph-nav" id="EXDOW" >
	<a href="javascript:;" class="nav-txt nav-txt-save"><i class="fa fa-line-chart"></i> SAVE</a>
	<div class="Folders sub-nav">
	<div id="FloatLeft"></div>
	<div id="" class="ExportItem1">
	<select id="save_chart_select_folder_{{chart_details.chartIndex}}" class="addmore-select form-control mychart-select-addto-folder ">
	{{#mychart_details.folderList}}
	<option value="{{folder_id}}">{{folder_name}}</option>
	{{/mychart_details.folderList}}
	</select>
	<input type="button" class="btn btn-primary btn-sm" value="Save" onClick="JMA.myChart.saveThisChartToFolder({{chart_details.chartIndex}});">
	</div>
	</div>
	</li>
	</ul>
	</div>
	</div>
	{{/unless}}
	{{/if}}
	<form name="frm_download_chart_data_{{chart_details.chartIndex}}" id="frm_download_chart_data_{{chart_details.chartIndex}}" method="post" action="//www.indiamacroadvisors.com/chart/downloadxls">
	<input type="hidden" id="frm_input_download_chart_codes_{{chart_details.chartIndex}}" name="chart_codes" value="">
	<input type="hidden" id="frm_input_download_chart_datatype_{{chart_details.chartIndex}}" name="chart_datatype" value="">
	</form>
	</div>
	<div class="h_graph_content_area" >
	<div class="" id="Jma_chart_container_{{chart_details.chartIndex}}">
	</div>
	</div>
	</div>
	</div>
	{{#if chart_details.isRightPannel}}
	<div class="col-lg-4 col-xs-12 pad0 h_graph_tab_area">
	<ul class="nav nav-tabs navtab-sm">
	<li class="active"><a data-toggle="tab" chart_index="{{chart_details.chartIndex}}" href="#Dv_dataseries_{{chart_details.chartIndex}}">Series</a></li>
	<li><a data-toggle="tab"  chart_index="{{chart_details.chartIndex}}"  href="#Dv_download_{{chart_details.chartIndex}}">Download</a></li>
	{{#unless mychart_details.isMyChart}}
	<li class="mdl Graph_tabset_tab_head_share"><a data-toggle="tab"  chart_index="{{chart_details.chartIndex}}"  href="#Dv_share_{{chart_details.chartIndex}}">Share</a></li>
	{{/unless}}
	</ul>
	<div class="tab-content">
	<div id="Dv_dataseries_{{chart_details.chartIndex}}" class="tab-pane fade in active">
	&nbsp;
	</div>
	<div id="Dv_download_{{chart_details.chartIndex}}" class="tab-pane fade">
	<div>
	<div><h5 class="addmore">Export Chart</h5></div>
	<div>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr><td align="left">
	Export as
	</tr></td>
	<tr><td align="center">
	<select id="tab_export_chart_image_select_format_{{chart_details.chartIndex}}" class="addmore-select form-control">
	<option value="csv">Data (CSV)</option>
	<option value="jpeg">Image (JPEG)</option>
	<option value="png">Image (PNG)</option>
	<option value="pdf">Document (PDF)</option>
	<option value="ppt">PowerPoint (PPTX)</option>
	</select>
	</tr></td>
	<tr><td align="left" style="display:none">
	Select size
	</tr></td>
	<tr><td align="center" style="display:none">
	<select id="export_chart_image_size_{{chart_details.chartIndex}}" class="addmore-select form-control">
	<option value="small">Small</option>
	<option value="medium">Medium</option>
	<option value="large">Large</option>
	</select>
	</tr></td>
	<tr><td align="center">
	<input type="button" class="btn btn-primary btn-sm" value="Export" onClick="JMA.JMAChart.exportTabChart({{chart_details.chartIndex}});">&nbsp;&nbsp;
	<input type="button" class="btn btn-primary btn-sm" value="Print" onClick="JMA.JMAChart.printChart({{chart_details.chartIndex}});">
	</tr></td>
	</table>
	</div>
	</div>
	</div>
	<div id="Dv_share_{{chart_details.chartIndex}}" class="tab-pane fade" >
	<div class="hgta_socsha">
	<h5>Share on Social Media</h5>
	<ul class="list-inline">
	<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
	<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
	<li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
	<li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
	</ul>
	</div>
	<div>
	<div class="spacer10"></div>
	<div class="social_share_buttons">
	<h5 class="">Share Link</h5>
	<div class="social_share_button">
	<input type="text" class="graph_share_input form-control" name="graph_share_url_{{chart_details.chartIndex}}" id="graph_share_url_{{chart_details.chartIndex}}" value="//www.indiamacroadvisors.com/" onclick="this.select()" readonly>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	{{/if}}
	</div>
	</div>
	</script>
	<script type="template/alanee" id="template_graph_section_series">

	<div>
	<div class="graph-list" id="Dv_placeholder_graph_series_section_{{chartIndex}}">
	{{#each current_series}} 
	<div class="graph-line" id="Dv_placeholder_graph_currentseries_select_{{../chartIndex}}_{{@index}}">
	<div class="input-group">
	<div class="input-group-addon">
	<i class="fa fa-minus" onClick="JMA.JMAChart.SeriesColorDropdown({{../chartIndex}},{{@index}},this)" ></i>
	</div>
	<select class="form-control" onChange="JMA.JMAChart.populateYSubDropdown({{../chartIndex}},{{@index}},this)">
	{{#each series}}
	<option value="{{@index}}" {{#if isCurrent}}selected{{/if}}>{{label}}</option>
	{{/each}}
	</select>

	</div>
	

	{{#each series}}
	{{#if isCurrent}}
	<div class="Dv_placeholder_graph_currentseries_ysub_select">
	<select class="chart-select form-control" onChange="JMA.JMAChart.replaceThisGraphCode({{../../../chartIndex}},{{@../index}},this)">
	{{#each series}}
	<option value="{{code}}" {{#if isCurrent}}selected{{/if}}>{{label}}</option>
	{{/each}}
	</select>
	</div>
	{{/if}}
	{{/each}}
	<div class="graph-line-controls">{{#ifCond @index '>' 0}}<a href="javascript:void(0)" onClick="JMA.JMAChart.removeThisChartCodeByIndex({{../../chartIndex}},{{@index}})">Remove</a>{{/ifCond}}</div>
	</div>
	{{/each}}
	</div>
	{{#if isAddMoreseries}}
	<div class="graph-addmore">
	<span class="addmore marb20">Add More Series</span>
	<select id="select_series_addmore-select_{{chartIndex}}" class="addmore-select form-control">
	{{#each available_series}}
	<option value="{{code}}">{{label}}</option>
	{{/each}}
	</select>
	<div class="dv_addmore-button"><a class="addmore-button" href="javascript:void(0)" onClick="JMA.JMAChart.addThisGraphCode({{chartIndex}})">Add more</a></div>
	</div>
	{{/if}}
	{{#ifCond isBarChart '!=' true}}
	<div>
	<label class="control control--checkbox">Multiple yAxis
	<input type="checkbox" value="checkbox" name="multiaxis_checkbox__{{chartIndex}}" id="multiaxis_checkbox__{{chartIndex}}" {{#if isMultiAxis}}checked{{/if}} onClick="JMA.JMAChart.switchToMultiAxisLine({{chartIndex}},this);"/>
	<div class="control__indicator"></div>
	</label>
	</div>
	{{/ifCond}}
	<div>
	<label class="control control--checkbox">Bar chart
	<input type="checkbox" value="checkbox" name="barchart_checkbox__{{chartIndex}}" id="barchart_checkbox__{{chartIndex}}" {{#if isBarChart}}checked{{/if}} onClick="JMA.JMAChart.switchToBarChart({{chartIndex}},this);"/>
	<div class="control__indicator"></div>
	</label>
	</div>
	</div>
	</script>
	<!-- Template End -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="//www.indiamacroadvisors.com/">
						<img src="//www.indiamacroadvisors.com/images/logo-g.png" alt="">
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="mainNav">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="//www.indiamacroadvisors.com/" class="top_link_common">Home</a></li>
						<!--<li class=""><a href="//www.indiamacroadvisors.com/aboutus" class="top_link_common">About us</a></li>-->
						<li class=""><a href="//www.indiamacroadvisors.com/products" class="top_link_common">Products</a></li>
						<!-- <li><a href=""class="top_link_common">Careers</a></li> -->
						<li class=""><a href="//www.indiamacroadvisors.com/contact" class="top_link_common">Contact</a></li>
						<li class=""><a href="//www.indiamacroadvisors.com/aboutus/privacypolicy" class="top_link_common">Our Privacy Policy</a></li>
						<li class=""><a href="//www.indiamacroadvisors.com/aboutus/commercial_policy" class="top_link_common">Commercial Policy </a></li>
												<li class="last" id="lnk_client_login"><a href="//www.indiamacroadvisors.com/user/login" class="top_link_client_login">USER LOGIN</a></li>
												<li>
							<div class="gte_con" id="google_translate_element"></div>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-mobmenu">
<li role="separator" class="divider"></li>

<li><a href="javascript:;" class="mob_maitit"><i class="fa fa-bar-chart"></i>DATA & EVENTS</a></li><li class=' menu_cat_group_first_entry dropdown'><a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Economic Indicators<span class='caret'></span></a><ul class='menu sub dropdown-menu' ><li class=' dropdown'><a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>GDP & Business Activity<span class='caret'></span></a><ul class='menu sub dropdown-menu' ><li class=' noparent dropdown'><a class='content_leftside_parent' href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/gdp/' class=''>GDP</a></li><li class=' noparent dropdown'><a class='content_leftside_parent' href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/consumer-price-index/' class=''>Consumer Price Index</a></li><li class=' noparent dropdown'><a class='content_leftside_parent' href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/index-of-industrial-production/' class=''>Index of Industrial Production</a></li></ul></ul>
</ul>					<!-- dropdown indide dropdown script -->
					<script type="text/javascript">
					$(document).ready(function(){
						$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
							event.preventDefault();
							event.stopPropagation();
							$(this).parent().siblings().removeClass('open');
							$(this).parent().toggleClass('open');
						});
						$('.navbar-toggle').on('click', function(event) {
							$('body').toggleClass('overflow-hidden');
							$('.myfol_toggle').toggleClass('hide');
						});
					});
					</script>
					<script type="text/javascript">
					function googleTranslateElementInit() {
						new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages: 'af,ca,da,de,el,en,es,fr,it,ko,nl,pl,pt,ru,sv,tl,bn,gu,hi,kn,ml,mr,ne,pa,ta,te,ur', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
					}
					</script>
					<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<section>
		<div id="carousel_home" class="carousel slide carousel_home" data-ride="carousel">
			 
			<!-- Indicators -->
			<!-- <ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>-->
						<!-- Wrapper for slides -->
			<div class="carousel-inner slider" role="listbox">
								<div class="item active">
					<img src="images/slider/slider1.jpg" alt="JMA Banners">
					<div class="color_overlayd"></div>
					<div class="carousel-caption">
						<h4>CONCISE AND INSIGHTFUL ANALYSIS ON THE INDIAN ECONOMY</h4>
												<a class="btn btn-primary btn-sm btn_carhom" target="_blank" href=//www.indiamacroadvisors.com/user/login>
							<span class="btn_carporate">
								<i class="glyphicon glyphicon-log-in"></i>Signin
							</span>
						</a>
												<a class="btn btn-primary btn-sm btn_carhom" target="_blank" href=//www.indiamacroadvisors.com/products/offerings>
							<span class="btn_carporate">
								<i class="fa fa-hand-o-right"></i>What We Offer
							</span>
						</a>
					</div>
				</div>
								<div class="item ">
					<img src="images/slider/slider2.jpg" alt="JMA Banners">
					<div class="color_overlayd"></div>
					<div class="carousel-caption">
						<h4>CONCISE AND INSIGHTFUL ANALYSIS ON THE INDIAN ECONOMY</h4>
												<a class="btn btn-primary btn-sm btn_carhom" target="_blank" href=//www.indiamacroadvisors.com/user/login>
							<span class="btn_carporate">
								<i class="glyphicon glyphicon-log-in"></i>Signin
							</span>
						</a>
												<a class="btn btn-primary btn-sm btn_carhom" target="_blank" href=//www.indiamacroadvisors.com/products/offerings>
							<span class="btn_carporate">
								<i class="fa fa-hand-o-right"></i>What We Offer
							</span>
						</a>
					</div>
				</div>
								<div class="item ">
					<img src="images/slider/slider3.jpg" alt="JMA Banners">
					<div class="color_overlayd"></div>
					<div class="carousel-caption">
						<h4>CONCISE AND INSIGHTFUL ANALYSIS ON THE INDIAN ECONOMY</h4>
												<a class="btn btn-primary btn-sm btn_carhom" target="_blank" href=//www.indiamacroadvisors.com/user/login>
							<span class="btn_carporate">
								<i class="glyphicon glyphicon-log-in"></i>Signin
							</span>
						</a>
												<a class="btn btn-primary btn-sm btn_carhom" target="_blank" href=//www.indiamacroadvisors.com/products/offerings>
							<span class="btn_carporate">
								<i class="fa fa-hand-o-right"></i>What We Offer
							</span>
						</a>
					</div>
				</div>
							</div>
			 
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel_home" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel_home" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
					</div>
		
	</section>
	<section class="container">
		<div class="col-md-2 content_leftside">
<ul class="menu top notranslate list-unstyled">
 <!--  <li class="sub-menu folders mychart-menu-set">
    <ul class="list-group">
      <li class="menu_group_title list-group-item">
        <i class="fa fa-line-chart"></i> My Charts
      </li>
            <li class="add-folder list-group-item">
        <i class="fa fa-plus-square"></i> Add Folder
      </li>
    </ul>
  </li> -->
  <li class="menu_group_title "><i class="fa fa-bar-chart"></i>&nbsp;DATA & EVENTS</li><li class='list-toggle submenu_leftside list-group-item'><a class='content_leftside_parent' data-toggle='collapse'  href='#left_cat_1'>Economic Indicators<i></i></a><ul id='left_cat_1' class='collapse  list-group'><li class='list-toggle submenu_leftside list-group-item'><a class='content_leftside_parent' data-toggle='collapse'  href='#left_cat_2'>GDP & Business Activity<i></i></a><ul id='left_cat_2' class='collapse  list-group'><li class='left_cat_3 noparent submenu_leftside list-group-item'><a  href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/gdp/' class=' content_leftside_parent'>GDP</a></li><li class='left_cat_4 noparent submenu_leftside list-group-item'><a  href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/consumer-price-index/' class=' content_leftside_parent'>Consumer Price Index</a></li><li class='left_cat_5 noparent submenu_leftside list-group-item'><a  href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/index-of-industrial-production/' class=' content_leftside_parent'>Index of Industrial Production</a></li></ul></ul></ul>

</div>		<div class="col-xs-12 col-md-7">
<div id="dv_home_mn_graph" class="row">
  <div class="col-xs-12">
    <div class='dv_home_mn_graph_new_ico_txt'><div class='main-title'><h4><span class='dhmg_whamew'>What's New</span> Inflation rate declines despite a weak INR</h4> <div class='mttl-line'></div> </div> <p>Government of India is using weaker rupee to make Indian goods more competitive in global market but this is not resulting in increase of the prices in domestic market. <i>(November 15)</i></p> </div>
		<div style='padding-bottom:15px;font-size:12px;'><a href='//www.indiamacroadvisors.com/page/category/economic-indicators/gdp-business-activity/consumer-price-index/'>Click here for the full version of comments and chart functions.</a></div><div id='Chart_Dv_placeholder_0'></div><script type='text/javascript'>JMA.JMAChart.initiateChart(0,{"chart_actual_code":"{graph_narrow 208-8,208-10|208|2005-4,2016-9}","chart_config":{"chartType":"line","isMultiaxis":false,"isChartTypeSwitchable":"Y","chartLayout":"narrow","isNavigator":true,"chartExport":{"image_size_available":{"small":400,"medium":800,"large":1200},"types_available":{"jpeg":"image\/jpeg","png":"image\/png","pdf":"application\/pdf"}},"dataType":"monthly"},"isPremiumData":false,"charts_available":{"208":"Consumer Price Index"},"charts_codes_available":["208"],"chart_data_type":"monthly","charts_fields_available":{"208":{"Consumer Price Index":{"2012=100":"208-0","YoY%":"208-1"},"Rural General Index":{"2012=100":"208-2","YoY%":"208-3"},"Urban General Index":{"2012=100":"208-4","YoY%":"208-5"},"Food and Beverages(General)":{"2012=100":"208-6","YoY%":"208-7"},"Food and Beverages(Rural)":{"2012=100":"208-8","YoY%":"208-9"},"Food and Beverages(Urban)":{"2012=100":"208-10","YoY%":"208-11"},"Pan, Tobacco and Intoxicants(General)":{"2012=100":"208-12","YoY%":"208-13"},"Pan, Tobacco and Intoxicants(Rural)":{"2012=100":"208-14","YoY%":"208-15"},"Pan, Tobacco and Intoxicants(Urban)":{"2012=100":"208-16","YoY%":"208-17"},"Clothing and Footwear(General)":{"2012=100":"208-18","YoY%":"208-19"},"Clothing and Footwear(Rural)":{"2012=100":"208-20","YoY%":"208-21"},"Clothing and Footwear(Urban)":{"2012=100":"208-22","YoY%":"208-23"},"Housing(General)":{"2012=100":"208-24","YoY%":"208-25"},"Housing(Urban)":{"2012=100":"208-26","YoY%":"208-27"},"Fuel and Light(General)":{"2012=100":"208-28","YoY%":"208-29"},"Fuel and Light(Rural)":{"2012=100":"208-30","YoY%":"208-31"},"Fuel and Light(Urban)":{"2012=100":"208-32","YoY%":"208-33"},"Miscellaneous":{"2012=100":"208-34","YoY%":"208-35"},"Miscellaneous(Rural)":{"2012=100":"208-36","YoY%":"208-37"},"Miscellaneous(Urban)":{"2012=100":"208-38","YoY%":"208-39"}}},"current_chart_codes":["208-8","208-10"],"chart_labels_available":{"208-0":"Consumer Price Index - 2012=100","208-1":"Consumer Price Index - YoY%","208-2":"Rural General Index - 2012=100","208-3":"Rural General Index - YoY%","208-4":"Urban General Index - 2012=100","208-5":"Urban General Index - YoY%","208-6":"Food and Beverages(General) - 2012=100","208-7":"Food and Beverages(General) - YoY%","208-8":"Food and Beverages(Rural) - 2012=100","208-9":"Food and Beverages(Rural) - YoY%","208-10":"Food and Beverages(Urban) - 2012=100","208-11":"Food and Beverages(Urban) - YoY%","208-12":"Pan, Tobacco and Intoxicants(General) - 2012=100","208-13":"Pan, Tobacco and Intoxicants(General) - YoY%","208-14":"Pan, Tobacco and Intoxicants(Rural) - 2012=100","208-15":"Pan, Tobacco and Intoxicants(Rural) - YoY%","208-16":"Pan, Tobacco and Intoxicants(Urban) - 2012=100","208-17":"Pan, Tobacco and Intoxicants(Urban) - YoY%","208-18":"Clothing and Footwear(General) - 2012=100","208-19":"Clothing and Footwear(General) - YoY%","208-20":"Clothing and Footwear(Rural) - 2012=100","208-21":"Clothing and Footwear(Rural) - YoY%","208-22":"Clothing and Footwear(Urban) - 2012=100","208-23":"Clothing and Footwear(Urban) - YoY%","208-24":"Housing(General) - 2012=100","208-25":"Housing(General) - YoY%","208-26":"Housing(Urban) - 2012=100","208-27":"Housing(Urban) - YoY%","208-28":"Fuel and Light(General) - 2012=100","208-29":"Fuel and Light(General) - YoY%","208-30":"Fuel and Light(Rural) - 2012=100","208-31":"Fuel and Light(Rural) - YoY%","208-32":"Fuel and Light(Urban) - 2012=100","208-33":"Fuel and Light(Urban) - YoY%","208-34":"Miscellaneous - 2012=100","208-35":"Miscellaneous - YoY%","208-36":"Miscellaneous(Rural) - 2012=100","208-37":"Miscellaneous(Rural) - YoY%","208-38":"Miscellaneous(Urban) - 2012=100","208-39":"Miscellaneous(Urban) - YoY%"},"navigator_date_from":"1-4-2005","navigator_date_to":"1-9-2016","share_page_url":"http:\/\/www.indiamacroadvisors.com\/","sources":"MOSPI(CSO), IMA","chart_data":{"208-8":[["1-1-2011","91.6"],["1-2-2011","88.9"],["1-3-2011","88.2"],["1-4-2011","88.3"],["1-5-2011","88.9"],["1-6-2011","89.8"],["1-7-2011","91.1"],["1-8-2011","92.3"],["1-9-2011","93.6"],["1-10-2011","94.8"],["1-11-2011","94.7"],["1-12-2011","93.5"],["1-1-2012","93.6"],["1-2-2012","94"],["1-3-2012","95"],["1-4-2012","97"],["1-5-2012","98"],["1-6-2012","99.7"],["1-7-2012","101.9"],["1-8-2012","103.6"],["1-9-2012","104.3"],["1-10-2012","104.9"],["1-11-2012","105.3"],["1-12-2012","105.2"],["1-1-2013","105.5"],["1-2-2013","106.3"],["1-3-2013","106.6"],["1-4-2013","107.1"],["1-5-2013","108.1"],["1-6-2013","110.6"],["1-7-2013","113.1"],["1-8-2013","114.9"],["1-9-2013","117.8"],["1-10-2013","119.8"],["1-11-2013","122.5"],["1-12-2013","118.7"],["1-1-2014","116"],["1-2-2014","115.3"],["1-3-2014","116.2"],["1-4-2014","117.2"],["1-5-2014","118.2"],["1-6-2014","119.5"],["1-7-2014","123.3"],["1-8-2014","125.3"],["1-9-2014","125.3"],["1-10-2014","125.1"],["1-11-2014","124.9"],["1-12-2014","123.3"],["1-1-2015","122.8"],["1-2-2015","122.8"],["1-3-2015","123.1"],["1-4-2015","123.6"],["1-5-2015","124.4"],["1-6-2015","126.6"],["1-7-2015","127.5"],["1-8-2015","129.8"],["1-9-2015","131"],["1-10-2015","131.8"],["1-11-2015","132.4"],["1-12-2015","131.4"],["1-1-2016","131.4"],["1-2-2016","130.3"],["1-3-2016","130.4"],["1-4-2016","131.8"],["1-5-2016","133.6"],["1-6-2016","136"],["1-7-2016","137.6"],["1-8-2016","138"],["1-9-2016","137.1"]],"208-10":[["1-1-2011","93.6"],["1-2-2011","89.9"],["1-3-2011","89.2"],["1-4-2011","89.9"],["1-5-2011","90.4"],["1-6-2011","91.6"],["1-7-2011","93.1"],["1-8-2011","93.9"],["1-9-2011","95.2"],["1-10-2011","96.2"],["1-11-2011","95.9"],["1-12-2011","93.9"],["1-1-2012","93.9"],["1-2-2012","94.5"],["1-3-2012","96"],["1-4-2012","98.1"],["1-5-2012","99"],["1-6-2012","100.7"],["1-7-2012","103.1"],["1-8-2012","104"],["1-9-2012","103.9"],["1-10-2012","104.2"],["1-11-2012","104.8"],["1-12-2012","104.7"],["1-1-2013","105.9"],["1-2-2013","107.2"],["1-3-2013","107.3"],["1-4-2013","108.8"],["1-5-2013","111.1"],["1-6-2013","115"],["1-7-2013","117.5"],["1-8-2013","119.6"],["1-9-2013","119.2"],["1-10-2013","120.8"],["1-11-2013","122.9"],["1-12-2013","117.8"],["1-1-2014","112.9"],["1-2-2014","115.2"],["1-3-2014","116"],["1-4-2014","118.2"],["1-5-2014","120"],["1-6-2014","122"],["1-7-2014","127.1"],["1-8-2014","128.9"],["1-9-2014","126.7"],["1-10-2014","125.8"],["1-11-2014","125.4"],["1-12-2014","124"],["1-1-2015","123.5"],["1-2-2015","123.7"],["1-3-2015","123.9"],["1-4-2015","124.6"],["1-5-2015","126.1"],["1-6-2015","128.5"],["1-7-2015","129.5"],["1-8-2015","131.1"],["1-9-2015","131.5"],["1-10-2015","132.6"],["1-11-2015","133.3"],["1-12-2015","131.5"],["1-1-2016","131.2"],["1-2-2016","129.1"],["1-3-2016","128.9"],["1-4-2016","131.8"],["1-5-2016","134.6"],["1-6-2016","138.2"],["1-7-2016","139.8"],["1-8-2016","137.6"],["1-9-2016","135.7"]]}});</script><script type='text/javascript'>JMA.JMAChart.drawAllCharts();</script>  </div>
</div>
<div class="main-title">
  <h4>Recently published data</h4>
  <div class="mttl-line"></div>
</div>
    <div class="">
      <div class="home_recpub first-section ">
        <div class="sec-title">
                              <h4>
            <a class="title-link" href="//www.indiamacroadvisors.com/news/view/gross-domestic-product">
              Gross Domestic Product			              </a>
           </h4>
          <div class="sttl-line"></div>
        </div>
                        <p>Indian GDP</p>
        <a class="readmore pull-right" href="//www.indiamacroadvisors.com/news/view/gross-domestic-product"> Read more.. </a>
      </div>
    </div>
        <div class="">
      <div class="home_recpub  ">
        <div class="sec-title">
                              <h4>
            <a class="title-link" href="//www.indiamacroadvisors.com/news/view/Consumer Price Index">
              Consumer Price Index			              </a>
           </h4>
          <div class="sttl-line"></div>
        </div>
         <h5>CPI in India in September 2016 was 130.8, an increase of 4.3% on a YoY basis.</h5>                <p>Consumer Price Index in India is published monthly by the Central Statistical Organization (CSO). Consumer Price Indices (CPI) measure changes over time in general level of prices of goods and services that households acquire for the purpose of consumption.</p>
        <a class="readmore pull-right" href="//www.indiamacroadvisors.com/news/view/Consumer Price Index"> Read more.. </a>
      </div>
    </div>
        <div class="">
      <div class="home_recpub  ">
        <div class="sec-title">
                              <h4>
            <a class="title-link" href="//www.indiamacroadvisors.com/news/view/index-of-industrial-production">
              Index of Industrial Production			              </a>
           </h4>
          <div class="sttl-line"></div>
        </div>
         <h5>Index of Industrial Production rose to 179.5 in September 2016 from 175.4 in August 2016.</h5>                <p>The Index of Industrial Production (IIP) is an index for India which details out the growth of various sectors in an economy such as mining, electricity and manufacturing.</p>
        <a class="readmore pull-right" href="//www.indiamacroadvisors.com/news/view/index-of-industrial-production"> Read more.. </a>
      </div>
    </div>
        <div class="">
      <div class="home_recpub  ">
        <div class="sec-title">
                              <h4>
            <a class="title-link" href="//www.indiamacroadvisors.com/news/view/exchange-rates">
              Exchange Rates test			              </a>
           </h4>
          <div class="sttl-line"></div>
        </div>
         <h5>The average exchange rate of USD/JPY was 103.63 in July 2016.</h5>                <p>Exchange Rates</p>
        <a class="readmore pull-right" href="//www.indiamacroadvisors.com/news/view/exchange-rates"> Read more.. </a>
      </div>
    </div>
        <div class="">
      <div class="home_recpub  last-section">
        <div class="sec-title">
                              <h4>
            <a class="title-link" href="//www.indiamacroadvisors.com/news/view/japan-unemployment-rate">
              Japan Unemployment Rate			              </a>
           </h4>
          <div class="sttl-line"></div>
        </div>
         <h5>The unemployment rate in Japan fell to 3.1% in June 2016, the lowest in the last 21 years.</h5>                <p>Labour Force Survey helps to elucidate the current state of employment and unemployment in Japan in every month.</p>
        <a class="readmore pull-right" href="//www.indiamacroadvisors.com/news/view/japan-unemployment-rate"> Read more.. </a>
      </div>
    </div>
    </div>

<form name="download" id="download" method="post" action="//www.indiamacroadvisors.com/chart/downloadxls">
  <input type="hidden" name="data" id="data" value="" />
</form>

<div class="col-xs-12 col-md-3">
		<!--Video part Starts
	<div class="right_vidcon row" id="video_link_placeholder_dv">
		<div class="sub-title">
			<h5>Videos</h5>
			<div class="sttl-line"></div>
		</div>
		<ul class="list-fontawesome">
			<li>
				<i class="fa fa-youtube-play" aria-hidden="true"></i> 
				<a data-toggle="modal" href="https://www.youtube.com/embed/mgrkC8fC_Os?autoplay=1" class="yt_videos" data-target=".jma_modvid">Will wages in Japan ever rise?</a>
			</li>
			<li>
				<i class="fa fa-youtube-play" aria-hidden="true"></i> 
				<a data-toggle="modal" href="https://www.youtube.com/embed/mgrkC8fC_Os?autoplay=1" class="yt_videos" data-target=".jma_modvid">Closer look at aging in Japan</a>
			</li>
		</ul>
	</div>
	Video part ends-->
				<div id="right-news" class="row">
		<div class="sub-title">
			<h5>Jma in the media</h5>
			<div class="sttl-line"></div>
		</div>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/pVy6wWVj214"></iframe>
		</div>
		<ul id="dv_right_videos_media" class="list-fontawesome rightection_linksouter list-group">
									<!-- <li>
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<a href="http://www.bloomberg.com/news/videos/2016-08-26/japan-macro-advisors-boj-has-exhausted-all-tools" target="_blank">
					<img src="public/uploads/media/26082016182855.png" alt="" width="182" />
				</a>
			</li> -->
						<li class="list-group-item"> 
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<a href="http://www.bloomberg.com/news/videos/2016-08-26/japan-macro-advisors-boj-has-exhausted-all-tools" target="_blank">
					"Takuji Okubo, Chief Economist at Japan Macro Advisors, discusses Japan's CPI data for July, what's next for the BoJ and the outlook for the yen,"  Bloomberg, August 26, 2016.				</a>
			</li>
						<li class="list-group-item"> 
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<a href="http://video.cnbc.com/gallery/?video=3000539938&play=1" target="_blank">
					"Takuji Okubo, Chief Economist at Japan Macro Advisors says that it is the regulatory reforms, rather than fiscal spending, that are the key for economy to turn around,CNBC,Aug 3,2016."				</a>
			</li>
						<li class="list-group-item"> 
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<a href="http://www.bloomberg.com/news/videos/2016-07-29/how-limited-are-the-boj-s-policy-options" target="_blank">
					"Takuji Okubo, Chief Economist at Japan Macro Advisors talks about how limited are the Bank of Japan's policy options", Bloomberg, July 29, 2016.				</a>
			</li>
						<li class="list-group-item"> 
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<a href="http://www.reuters.com/article/us-global-forex-idUSKCN0ZM2B7" target="_blank">
					"The yen has to appreciate much further before Japan could gain an implicit approval from other G7 countries," said Takuji Okubo, chief economist at Japan Macro Advisors. Reuters,July 6,2016				</a>
			</li>
						<li class="list-group-item"> 
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<a href="http://www.bbc.com/news/business-36613890" target="_blank">
					Takuji Okubo, Chief Economist at Japan Macro Advisors talks about how, in the wake of BoJ having nearly exhausted its policy tools, currency intervention could help counter the threat of a return to deflation, BBC, June 24, 2016.				</a>
			</li>
			</ul>
</div>
<!-- Modal -->
<div class="modal fade jma_modvid"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Will wages in Japan ever rise?</h4>
			</div>
			<div class="modal-body">
				<iframe class="jmaVideo" width="560" height="315" src="https://www.youtube.com/embed/mgrkC8fC_Os?autoplay=1" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
	$(".jmaVideo").attr('src', '');
	$(".yt_videos").on('click',function(){
		event.preventDefault(); 
		event.stopPropagation(); 
		var url = $(this).attr('href');
		var title = $(this).text();
		$(".jma_modvid").modal('show');
		$(".jma_modvid").on('shown.bs.modal', function(){
			$(".jma_modvid h4.modal-title").text(title);
			$(".jmaVideo").attr('src', url);
		});
	});


	$(".jma_modvid").on('hide.bs.modal', function(){
		$(".jmaVideo").attr('src', '');
	});
});
</script>	</section>
	<!--footer section-->
<footer>
  <div class="footer_container">
    <div class="container">
      <!---<div class="col-md-4 col-xs-12 pad0">
        <div class="col-md-12 col-sm-6 col-xs-12">
          <div class="sub-title">
            <h5>Popular Search</h5>
            <div class="sttl-line"></div>
          </div>
          <ul class="list-unstyled list-fontawesome list_popchart">
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Job Offers to Applicant Ratio</a>
            </li>
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Unemployment Rate</a>
            </li>
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Balance of Payment</a>
            </li>
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Exchange Rates</a>
            </li>
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Cabinet Approval Rating</a>
            </li>
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Presentation Materials</a>
            </li>
            <li>
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              <a href="">Industrial Production</a>
            </li>
          </ul>
        </div>
      </div>--->
      <div class="col-xs-12 col-md-8" style="width:100%;">
        <div class="sub-title">
          <h5>About us</h5>
          <div class="sttl-line"></div>
        </div>
        <p> India Macro Advisors Inc. ("We") are not an investment advisory and we do not make any offer or solicitation to buy/sell financial securities or other type of assets. The information contained herein has been obtained from, or is based upon, sources believed by us to be reliable, but we do not make any representation or warranty for their accuracy or completeness. The text, numerical data, charts and other graphical contents we provide ("IMA contents") are copyrighted properties of Japan Macro Advisors ("Us"). While we permit personal non-commercial usage of IMA contents, it should be accompanied by an explicit mention that the contents belong to us. We do not allow any reproduction of IMA contents for other purposes unless specifically authorised by us. Please contact <a href="mailto:info@japanmacroadvisors.com">info@indiamacroadvisors.com</a> to seek our authorization. </p>
      </div>
    </div>
  </div>
  <div class="footer_copycont">
    <div class="container">
      <div class="col-xs-12 col-md-4">
        <p class="copy_right">Copyright &copy; 2012-2016; <a href="">INDIA MACRO ADVISORS</a></p>
      </div>
      <div class="col-xs-12 col-md-8">
        <ul class="list-inline pull-right">
          <li><a href="//www.indiamacroadvisors.com/">Home</a> |</li>
          <li><a href="//www.indiamacroadvisors.com/user/newsletters">Newsletter</a> |</li>
          <li><a href="//www.indiamacroadvisors.com/aboutus/termsofuse">Terms Of Use </a> |</li>
          <li><a href="//www.indiamacroadvisors.com/aboutus/privacypolicy">Our Privacy Policy </a> |</li>
          <li><a href="//www.indiamacroadvisors.com/aboutus/commercial_policy">Commercial Policy </a> |</li>
          <li><a href="//www.indiamacroadvisors.com/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!--footer section-->
<script type="text/javascript" src="//www.indiamacroadvisors.com/assets/plugins/readmore/readmore.js"></script>
<script type="text/javascript">
$('iframe').load(function(){
var ht=$(this).contents().height(); //alert($('iframe').contents().height() + 'is the height');
//document.getElementById('frame').height= (ht) + "px";
this.style.height = (ht) + "px";
//if(ht>495)
//{
//$(this).css("height",ht);
//}
});
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36471452-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>	<!-- Login Modal Start -->
	<div class="modal fade" id="Dv_modal_login" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="pull-left">
						<h4 class="modal-title">Login</h4>
					</div>
					<!-- <ul class="list-inline list_sigmod">
						<li>
							<div class="download-img" >
								<i class="fa fa-user fa-lg color-green"></i><b>FREE</b>
							</div>
						</li>
						<li>
							<div class="premium-img color-blue icon-sup">
								<i class="fa fa-user fa-lg"></i>
								<sup>
									<i class="fa fa-star fa-fw"></i>
								</sup>
								<b>PREMIUM</b>
							</div>
						</li>
						<li>
							<div class="premium-img">
								<i class="fa fa-building fa-lg"
								style="color: #22558F;"></i><b>CORPORATE</b>
							</div>
						</li>
					</ul>-->
				</div>
				<div class="modal-body">
					<form name="login_frm_ajx" id="login_frm_ajx" class="signup_frm" action="//www.indiamacroadvisors.com/user/login" method="post">
						<!--<div class="text-center form-group mychart">
							<p>This feature is restricted <b>for logged-in users only.</b> <br> If you
								are a FREE / PREMIUM / CORPORATE account user, please log-in.<br>
							</p>
						</div>-->
						<!--<div class="text-center form-group premium">
							<p>This content is restricted <b>for paying users only.</b> <br> If you
								are a PREMIUM / CORPORATE account user, please log-in.<br>
							</p>
						</div>-->
						<div class="text-center form-group download">
							<p>Please log-in to access our <b>data download function.</b><br></p>
						</div>
						<div class="text-center form-group">
							<a href="//www.indiamacroadvisors.com/user/linkedinProcess" class="linkedIn">
								<img src="//www.indiamacroadvisors.com/images/sign-in-with-linkedin.png" />
							</a>
						</div>
						<div class="sinup_orcon"><p>OR</p></div>
						<p class="login_frm_ajx_login_status text-center text-danger" style="font-size: 12px;display: none;"></p>
						<div class="form-group col-xs-12 col-sm-6 sm-pad padl0">
							<!-- <label for="login_email" class="control-label visible-xs">&nbsp;</label>  -->
							<input class="form-control" placeholder="Email" name="login_email" id="login_email">
						</div>
						<div class="form-group col-xs-12 col-sm-6 sm-pad padr0">
							<!-- <label for="login_password" class="control-label visible-xs">&nbsp;</label> -->
							<input type="password" class="form-control"  placeholder="Password" name="login_password" id="login_password"  />
							<input type="hidden" name="chart_login_perm_type" id="chart_login_perm_type" >
							<input type="hidden" name="chart_login_chart_index" id="chart_login_chart_index">
							<input type="hidden" name="chart_login_premium_url" id="chart_login_premium_url">
						</div>
						<div class="full-width text-center marb20">
							<button type="button"  class="btn btn-primary btn-sm" name="login_btn" id="pop_login_btn">
								Submit
							</button>
							<a class="btn" id="SubmitForgotPss" href="//www.indiamacroadvisors.com/user/forgotpassword">
								Forgot Password?
							</a>
						</div>
						<p class="premium-logininfo">
							<a href="//www.indiamacroadvisors.com/products">Upgrade or Register for </a> PREMIUM or CORPORATE account.
						</p>
						<p class="download-logininfo">
							Not registered?<br/>
							<i class="fa fa-play-circle" style="color: #F39019; font-size: 20px;padding: 1px 5px 3px 2px;"></i>
							<a href="//www.indiamacroadvisors.com/products">Setup a <b>Free Account</b></a> to access our services free of charge.
						</p>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Modal End-->
	<!-- Auto Login  Modal Start-->
		<div class='popup'>
		<div class='cnt223'>
			<div class="POPUser">
				<i class="fa fa-user fa-lg"></i>User Login
				<div alt='quit' class='x' id='x'>
					<i class="fa fa-times" style="color: #EA2635"></i>
				</div>
			</div>
			<div id="Dv_login_wrapper">
				<form name="login_frm" id="login_frm"
				action="//www.indiamacroadvisors.com/user/login" method="post">
				<div class="login_box_input">
					<input type="text" placeholder="Email"
					class="formPop_textfield" name="login_email"
					id="login_email" />
				</div>
				<div class="login_box_input">
					<input type="password" placeholder="password"
					class="formPop_textfield" name="login_password"
					id="login_password" />
				</div>
				<div class="full-widthf">
					<label class="control control--checkbox">Keep me signed in
						<input type="checkbox" value="y" name="login_rememberMe" id="login_rememberMe"/>
						<div class="control__indicator"></div>
					</label>
				</div>
				<div class="full-widthf text-center">
					<input type="submit" value="Submit" class="btn btn-primary btn-sm" name="login_btn"  />
				</div>
				<div class="ForPassword">
					<a href="//www.indiamacroadvisors.com/user/forgotpassword">Forgot
						your password?</a>
					</div>
					<div class="sinup_orcon"><p>OR</p></div>
					<div class="chat_signlin">
						<a href="//www.indiamacroadvisors.com/user/linkedinProcess">
							<img src="//www.indiamacroadvisors.com/images/sign-in-with-linkedin.png" />
						</a>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<div class='popupDev'>
	 <div class='cnt223Dev' align="center">
			<div class="POPUser">
				<i class="glyphicon glyphicon-alert"></i>Alert !
				<div alt='quit' class='xDev' id='x'>
					<i class="fa fa-times" style="color: #EA2635"></i>
				</div>
			</div>
			<div style="padding:5 25px;"><h4>This site is under development. The information provided in the website may not be accurate.</h4></div>
		</div>
	</div>	
		<!-- Auto Login Modal End-->
	<!-- Upgrade Premium Feature Modal Start-->
	<!-- <div class="modal fade" id="Dv_modal_upgrade_premium_feature" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-warning">Sorry..! This feature restricted</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<p class="text-center"><i class="fa fa-warning" style="font-size: 6em;line-height:2em;color: #FFA500;"></i></p>
						</div>
						<div class="col-xs-12 col-sm-9">
							<p><b> Sorry..! With a free account, you can save & edit up to 4 charts & tables in your personal online folder. If you wish to save more than 5 charts, please upgrade to a PREMIUM or CORPORATE account. Otherwise, you can also delete unnecessary charts & tables from your folder. For more details, please check your account details <a href="//www.indiamacroadvisors.com/user/myaccount/subscription">here</a></b>. </p>
							<p> Thank you again for being a JMA user and we welcome any feedback you like to share with us at <a href="mailto:info@japanmacroadvisors.com">info@japanmacroadvisors.com</a>. </p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Upgrade Premium Feature End-->
	<!-- Upgrade Premium content Modal Start-->
	<!-- <div class="modal fade" id="Dv_modal_upgrade_premium_content" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-warning">Sorry..! This feature restricted</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<p class="text-center">
								<i class="fa fa-warning" style="font-size: 6em;line-height:1.5em;color: #FFA500;"></i>
							</p>
						</div>
						<div class="col-xs-12 col-sm-9">
							<p>
								<b> 
									Sorry..! you do not have permission to view premium ontents. Please review your subscription status 
									<a href="//www.indiamacroadvisors.com/user/myaccount">Account details</a> . 
								</b>
								<br><br> Thank you again for being a JMA user and we welcome any feedback you like to share with us at 
								<a href="mailto:info@japanmacroadvisors.com">info@japanmacroadvisors.com</a>. 
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Upgrade Premium content End-->
	<!-- Createfolder Restricted Modal Start-->
	<div class="modal fade" id="Dv_modal_createfolder_restricted" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-warning">Sorry..! Folder Creation - Reached limit</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<p class="text-center"><i class="fa fa-warning" style="font-size: 6em;color: #FFA500;"></i></p>
						</div>
						<div class="col-xs-12 col-sm-9 sm-txtcen">
							<br>
							<p><b>Sorry..! you have reached maximum allowed folders.<br>You not allowed to create more folders.</b>
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Createfolder Restricted End-->
	<!-- Content - Reached limit Modal Start-->
	<div class="modal fade" id="Dv_modal_addchart_restricted" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-warning">Sorry..! Add Content - Reached limit</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<p class="text-center"><i class="fa fa-warning" style="font-size: 6em;color: #FFA500;"></i></p>
						</div>
						<div class="col-xs-12 col-sm-9 sm-txtcen">
							<br>
							<p><b>Sorry..! you have reached maximum allowed content for this folder.You not allowed to add more content.</b>
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Content - Reached limit End-->
	<!-- Common Error Start-->
	<div class="modal fade" id="Dv_modal_error_common" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-danger">Error...!</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<p class="text-center"><i class="fa fa fa-times-circle" style="font-size: 6em;line-height:1.5em;color:red;"></i>
							</p>
						</div>
						<div class="col-xs-12 col-sm-9 sm-txtcen">
							<p>
								Sorry..! Something went wrong while displaying this webpage.<br>To continue, please click on "Refresh" or wait for the page to get refreshed.
								<br><br> <b>Page will refresh in <span id="error_page_refresh_countdown" style="font-weight: bold;"></span> seconds.</b>								
							</p>
							<button class="btn btn-primary btn-sm" id="common_btn_refresh" type="button" onclick="location.reload();"><i class="fa fa-refresh"></i> Refresh</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Common Error End-->
	<!-- Common Error with message Start-->
	<div class="modal fade" id="Dv_modal_error_common_with_message" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-danger">Error...!</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<p class="text-center"><i class="fa fa fa-times-circle" style="font-size: 6em;color:#E60013;"></i></p>
						</div>
						<div class="col-xs-12 col-sm-9 sm-txtcen">
							<br>
							<p><b>Sorry..! Something went wrong and an error occured.
								<br><br><span id="error_page_error_message"></span></b>
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Common Error with message End-->

	<!-- Mycyhart Floating Menu-->
	<div class="myfol_toggle">
		<div class="mft_ttl"> <i class="fa fa-angle-right"></i></span></div>
		<div class="mtf_content">
			<ul class="menu top notranslate list-unstyled">
				<li class="sub-menu folders mychart-menu-set">
					<ul class="list-unstyled">
												<li class="mycha_toglogin">
							Please login to access MyChart function
						</li>
						
						<li class="add-folder">
						  							
														<a class="btn btn-primary mtfc_btn">
								<i class="fa fa-sign-in"></i> Login
							</a>
													</li>
					</ul>
				</li>
			</ul>
			

		</div>
	</div>
	<!-- Mycyhart Floating Menu-->
	<!-- add folder modal -->
	 <div class="modal fade" id="modaladd_folder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
	   <div class="modal-content">
		<div class="modal-header">
		 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		 <h4 class="modal-title" id="myModalLabel">Add Folder</h4>
		</div>
		<form name="frmEditFolder" id ="frmEditFolder" action="" method="post" >
		<div class="modal-body">
		 <div class="full-width">
		   <div class="form-group">
			<label for="exampleInputEmail1">Folder Name</label>
			<input type="text" class="form-control" id="editfolderName" name="editfolderName" placeholder="Write your folder name here">
		   <div id="errFolderName" style="color:red;"></div>
		   </div>
		 </div>
		</div>
		<div class="modal-footer">
		 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		 <button type="button" id="saveFolderName" class="btn btn-primary">Save</button>
		</div>
		</form>
	   </div>
	  </div>
	 </div>

</body>
<!-- Go to www.addthis.com/dashboard to customize your tools -->


<script type="text/javascript">


$('.mft_ttl').on('click', function(e){
	e.preventDefault();
	$('.myfol_toggle .mtf_content').toggleClass('active');
	$(this).toggleClass('active');
});
</script>
<script type="text/javascript">
//script
if ( !("placeholder" in document.createElement("input")) ) {
	$("input[placeholder], textarea[placeholder]").each(function() {
		var val = $(this).attr("placeholder");
		if ( this.value == "" ) {
			this.value = val;
		}
		$(this).focus(function() {
			if ( this.value == val ) {
				this.value = "";
			}
		}).blur(function() {
			if ( $.trim(this.value) == "" ) {
				this.value = val;
			}
		});
	});
  // Clear default placeholder values on form submit
  $('form').submit(function() {
  	$(this).find("input[placeholder], textarea[placeholder]").each(function() {
  		if ( this.value == $(this).attr("placeholder") ) {
  			this.value = "";
  		}
  	});
  });
}
$(document).ready(function(){
	$(window).scroll(function(){
		if ($(this).scrollTop() > 70) {
			$('nav').addClass('navbar-fixed-top');
		} else {
			$('nav').removeClass('navbar-fixed-top');
			
		}
	});
	$(document).on('click','li.nav_edittabs',function(){

		$(this).parents("div").siblings(".h_graph_tab_area").slideToggle();


		
	});
})
</script>
</html>
</html>