/*fonts*/
  @font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo-Regular.ttf')  format('truetype'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.ttf')  format('truetype'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'OswaldB';
    src: url('../fonts/Oswald-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Bold.ttf') format('truetype'),
    url('../fonts/Oswald-Bold.ttf') format('truetype'),
    url('../fonts/Oswald-Bold.ttf')  format('truetype'); /* Legacy iOS */
  }

/*cookie bar*/
  #cookie-bar {
    font-size: 14px;
    background: #111111;
    height: auto;
    min-height: 24px;
    line-height: 24px;
    color: #eeeeee;
    text-align: center;
    padding: 3px 0;
  }
  #cookie-bar p {
    margin: 0;
    padding: 0;
  }
  #cookie-bar a {
    color: #ffffff;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 6px;
    margin-left: 8px;
  }
  #cookie-bar .cb-enable {
    background: #E60013;
  }
  #cookie-bar .cb-enable:hover {
    background: #009900;
  }

/*default css start*/
  body{font-family: 'Arimo';font-size: 14px;}
  h1,h2,h3,h4,h5,h6{font-family: 'Oswald';}
  strong,b{font-family: 'Oswald';font-weight: normal;}
  p{font-size: 15px;}

/*left side floating munu*/
  li.folder a{
     color: #fff;
     text-decoration: none;
  }

/*header css start*/
  .navbar-default .navbar-nav > li > a{color: #333;padding: 15px 12px;}
  .navbar-default .navbar-nav > li > a:hover{color: #E60013;}
  .navbar-default .navbar-nav .jma_username a{
    width: 102px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 5px;
    text-align: center;
  }
  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus{color: #316AB4;background-color: transparent;}
  .navbar-brand{padding: 17px 15px 14px;width: 100%;}
  .navbar-nav > li.last{padding-right: 17px;}
  .navbar-header{width: 251px;}
  .goog-te-menu2-item div, 
  .goog-te-menu2-item-selected div{padding: 7px 5px;}
  .goog-te-menu2-item div, 
  .goog-te-menu2-item:link div{
    color: #333;
  }
  .navbar-nav .gte_con{padding-top: 11px;}
  .navbar-default{
    background-color: rgba(245,245,245,0.9);
    border-color: #f5f5f5;
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
  .navbar-default .navbar-collapse{padding: 0;}
  .navbar-right{margin-right: 0;}
  .navbar-nav.navbar-mobmenu{display: none;}
  /*dropdown inside dropdown*/
  .dropdown-submenu{position:relative;}
  .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
  .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
  .dropdown-submenu:hover>a:after{border-left-color:#555;}
  .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/*index page css start*/
  .dv_home_mn_graph_new_ico_txt .dhmg_whamew{
    background: #316AB4;
    color: #ffffff;
    font-size: 13px;
    padding: 3px 5px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    margin: 3px 8px 0 0;
  }
  .carousel_home{margin-bottom: 40px;}
  .carousel_home .item img{width: 100%;}
  .carousel_home .carousel-caption{
    top: calc(50% - 99px);
    bottom: auto;
  }
  .carousel_home .carousel-caption h4{
    font-size: 37px;
    text-shadow: 1px 2px 5px #000;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  .carousel_home .carousel-caption .btn{margin: 0 7px;}
  .carousel_home .btn_carhom{margin-top: 15px;}
  .carousel_home .btn_carhom i{padding-right: 10px;font-size: 16px;}
  .carousel_home .carousel-control{z-index: 3;}
  .content_leftside{padding-right: 0;}
  .content_leftside .menu_group_title,
  .content_leftside .add-folder{
    padding: 10px 11px;
    border-radius: 0;
    background: #2d2d2d;
    color: #ffffff;
  }
  .content_leftside .menu_group_title i{color: #316AB4;}
  .content_leftside .menu_group_title i,
  .content_leftside .add-folder i{
    padding-right: 5px;
  }
  .content_leftside li.submenu_leftside{padding: 0; }
  .content_leftside a.content_leftside_parent{
    padding: 7px 9px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    color: #797979;
  }
  .content_leftside a.content_leftside_parent:hover{color: #316AB4;}
  .content_leftside a.lnk_inactive{color: #b4b4b4;}
  .content_leftside li.submenu_leftside ul{margin-bottom: 0;}
  .content_leftside li.submenu_leftside ul li:last-child,
  .content_leftside > ul > li.submenu_leftside li ul li:last-child{border-bottom: 0;}
  .content_leftside li.submenu_leftside i{
    font-family: FontAwesome;
    float: right;
    font-style: normal;
    font-size: 15px;
  }
  .content_leftside > ul > li.submenu_leftside > a.content_leftside_parent i:before,
  .content_leftside > ul > li > ul > li.submenu_leftside > a.content_leftside_parent i:before{
    content: '\f0d7';
  }
  .content_leftside > ul > li.submenu_leftside > a.collapsed i:before,
  .content_leftside > ul > li > ul > li.submenu_leftside > a.collapsed i:before{
    content: '\f0d8';
  }
  .content_leftside .list-group-item.active, 
  .content_leftside .list-group-item.active:hover, 
  .content_leftside .list-group-item.active:focus{z-index: 0;}
  .content_leftside  > ul > li.submenu_leftside.minus > a i:before,
  .content_leftside > ul > li > ul > li.submenu_leftside.minus > a i:before{
    content: '\f0d7';
  }
  .content_leftside > ul > li li.submenu_leftside{
    margin-left: 14px;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
  }
  .content_leftside > ul > li li:first-child{border-top: 1px solid #ddd;}
  .content_leftside > ul > li li.submenu_leftside > a{padding-left: 0;}
  .content_leftside > ul > li.submenu_leftside li li.submenu_leftside{
    margin-left: 14px;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
  }
  .content_leftside > ul > li.submenu_leftside li li:first-child{border-top: 1px solid #ddd;}
  .content_leftside ul > li.submenu_leftside.active{background-color: transparent;}
  .content_leftside ul > li.submenu_leftside.active a{color: #316AB4;}
  #dv_home_mn_graph .h_graph_wrap{margin-top: 20px;}
  .h_graph_wrap .ExportHeading .nav-txt-export,
  .h_graph_wrap .ExportHeading .nav-txt-save,
  .h_graph_wrap .DownloadHeading .nav-txt-export{
    font-size: 11px;
    font-family: 'Oswald';
    padding: 11px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
  }
  .h_graph_wrap .ExportHeading a i,
  .h_graph_wrap .DownloadHeading a i{
    color: #316AB4;
    vertical-align: top;
    padding-right: 1px;
  }
  .h_graph_wrap .list_graphhead{
    background-color: #e8e8e8;
    margin: 0;
    text-align: right;
    display: inline-block;
    width: 100%;
  }
  .h_graph_wrap .list_graphhead li{padding: 0;cursor: pointer;}
  .home_recpub{margin-bottom: 30px;}
  .home_recpub .released{
    margin: 10px 0 0;
    width: 100%;
    color: #a1a1a1;
  }
  .home_recpub .latest{
    background: #316AB4;
    color: #fff;
    padding: 2px 11px;
    font-size: 13px;
  }
  .home_recpub .sec-title h4{margin-top: 5px;}
  .home_recpub .sec-title h4 a{color: #333;}
  .home_recpub .sec-title h4 a:hover{color: #337ab7;}
  .right_vidcon .list-fontawesome li{margin-bottom: 7px;}
  .right_vidcon .list-fontawesome li > i{color: #316AB4;}
  .modal-content .jmaVideo{
    margin: 0 auto;
    display: block;
    width: 100%    !important;
    height: 315px   !important;
  }
  .rightection_linksouter a{color: #797979;}
  .rightection_linksouter a:hover{color: #316AB4;text-decoration: none;}
  .rightection_linksouter li > i{color: #316AB4;}
  .rightection_linksouter li:first-child{border-top: 0;border-radius: 0;}
  .carousel_home .btn_premium .fa-user{
   /* color: #22558F;*/
    font-size: 19px;
    padding-right: 0;
  }
  .carousel_home .btn_premium sup{top: -6px; }
  .carousel_home .btn_premium .fa-star{
   /* color: #22558F;*/
    font-size: 11px;
    padding-right: 17px;
  }
  .carousel_home .btn_carporate .fa{color: #fff;}
  .ExportHeading.graph-nav{position: relative;}
  .ExportHeading .Exports.sub-nav,
  .ExportHeading .Folders.sub-nav{
    position: absolute;
    z-index: 3;
    width: 300px;
    right: 0;
    background: #ccc;
    padding: 11px;
  }
  .ExportHeading .Exports .form-control,
  .ExportHeading .Folders .form-control{margin-bottom: 15px;}
  #Dv_modal_login .list_sigmod{float: right;margin: auto 10px auto auto;}
  #Dv_modal_login .list_sigmod i{padding-right: 10px;}
  #Dv_modal_login .list_sigmod li{padding: 0 10px;}
  #Dv_modal_login .sinup_orcon{margin-bottom: 15px;}
  .sublef_menunew{
    background: #316AB4;
    color: #fff;
    font-size: 10px;
    padding: 1px 7px;
    margin-right: 5px;
    vertical-align: text-top;
  }

/*product page css start*/
  .pricing ul li.price_innttl{font-weight: bold;}
  .pricing ul li.price_innsubs{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    font-family: 'Oswald';
  }
  .pricing .content .sub-title span{ font-size: 12px; color: #22558F;}
  .pricing ul li.price_innsubs span{color: #22558F;}
  .pricing_premium.pricing .thumbnail{line-height: 79px;}
  .pricing_premium.pricing .thumbnail span{padding-left: 17px;}
  .pricing_premium.pricing .thumbnail sup{font-size: 12px; left: -11px;top: -1.5em;}
  .pricing_corporate .thumbnail i{padding-left: 3px;}
  .pricing_free .thumbnail i{color: #6EB92B;}
  .pricing_premium .thumbnail i,
  .pricing_corporate .thumbnail i{color: #22558F;}
  .pripag_infocon{margin-top: 30px;}
  .pripag_infocon .alert{
    font-family: 'Oswald';
    font-family: 'Oswald';
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .subsfree_container{
    text-align: center;
    margin: 20px 0 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
  }
  .subsfree_container h4{margin-bottom: 30px;color:#316AB4;font-size: 17px;}
  .pricing_premium .btn-primary, .pricing_corporate .btn-primary{background: #22558F;border-color: #22558F; }
  .pricing_premium .btn-primary:hover, .pricing_corporate .btn-primary:hover{background: #E60013;}
  .pricing .content .btn-primary{text-transform: uppercase;}
  
/*singup page css start*/
  form.signup_frm{margin-top: 30px;}
  label.error{
    color: #316AB4;
    font-weight: normal;
    margin-bottom: 0;
  }
  .sinup_selpro{
    margin: auto;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
  }
  .form-horizontal.signup_frm .form-group{margin: 0 auto 15px;}
  .sinup_selpro .activepro{background: #f05e00;color: #ffffff;}
  .sinup_selpro li .fa{
    padding-top: 3px;
  }
  .sinup_selpro li sup .fa{
    font-size: 11px;
    width: auto;
    padding-right: 3px;
  }
  .sinup_selpro .ssp_freuse .fa{color: #6EB92B;}
  .sinup_selpro .ssp_preuse .fa,
  .sinup_selpro .ssp_coruse .fa{color: #22558F;}
  .sinup_selpro .activepro .fa,
  .sinup_selpro .activepro .fa{color: #ffffff;}
  .signup_request_select, .signup_request_select_inactive {
    width: 140px;
    float: left;
    border: 1px solid #a9a9a9;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Oswald'
  }
  .sinup_selpro .activepro {
    background: #E60013;
    color: #FFFFFF;
    border: 1px solid #E60013;
  }
  input.signup_product {
    display: none;
  }
  .sinup_selpro .activepro {
    background: #E60013;
    color: #FFFFFF;
    border: 1px solid #E60013;
  }
  .signup_request_select.activepro>.fa, 
  .signup_request_select_inactive.activepro>.fa {
    color: #fff;
  }
  .signup_request_select.selected, 
  .signup_request_select:hover, 
  .signup_request_select_inactive.selected {
    background: #2884cc;
    color: #fff;
    border: 1px solid #2884cc;
  }
  .signup_request_select:hover .fa{color: #ffffff;}
  .sinup_orcon{text-align: center;}
  .sinup_orcon p{
    display: inline-block;
    background: #ddd;
    padding: 13px;
    border-radius: 50%;
    font-size: 12px;
    margin-bottom: 0;
  }
  .intl-tel-input .flag-dropdown{padding: 0;}
  .intl-tel-input .selected-flag{background: #ddd;}
  .intl-tel-input input[type=text]{
    padding-left: 60px;
  }
  .signup_frm label[for=reg_phone_number] {position: absolute !important; }
  .signup_frm label[for=phone] {position: absolute !important; }
  .signup_frm .intl-tel-input .flag-container {
    height: 36px;
  }
  .signup_frm .intl-tel-input.allow-dropdown.iti-sdc-3 .selected-flag{width: 95px;}
  .signup_frm .phonecls,
  .signup_frm .card-phone-number{padding-left: 115px;}

/*privacy policy page css start*/
  .privacypolicy_page .sub-title{width: 100%;margin-top: 30px;}

/*commercial policy*/
  .commtbl tr td:first-child {
    background: #f5f5f5;
    width: 35%;
    font-weight: bold;
  }

/*terms of use*/
  .termsofuse_page .sub-title{width: 100%;margin-top: 30px;}

/*contact page css start*/
  .conpage_container .nav-tabs{margin-bottom: -1px;margin-top: 30px;}
  .conpag_colpan .panel-title > a{width: 100%;display: inline-block;}
  .conpag_colpan .cpc_bus p{margin-bottom: 20px;}
  .conpag_colpan .cpc_car p{margin-bottom: 20px;}
  .conpage_container .cp_addmap iframe{width: 100%;}

/*login page css start*/
  .loginpage_con .li_licon{box-shadow: 5px 0 5px -5px #333;}

/*mychart page css start*/
  .mychart_exppri ul{float: right;font-family: 'Oswald';}
  .mychart_exppri .ppt-mycharts > i{padding-right: 7px;}
  .mychart_exppri .ppt-mycharts > i.fa-spinner{padding-right: 0;}
  .mychart_pagecon .page-title{margin-top: 0;margin-bottom: 30px;}
  table.mychart_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  }
  .mychart_table tbody, 
  .mychart_table tbody td { 
    box-sizing: border-box;
    display: block; 
  }
  .mychart_table tbody tr{
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .mychart_table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  .mychart_table tbody {
    max-height: 333px;
    overflow-y: auto;
    width: 100%;
  }
  .mychart_table thead{
    display: inline-block;
    width: 100%;
  }
  .mychart_table thead > tr{display: inline-block;width: calc(100% - 11px);}
  .mychart_table thead > tr > th:first-child{width: 18%;}
  .mychart_table thead > tr > th{display: inline-block;box-sizing: border-box;}
  .mychart_table tbody > tr:first-child > th{border-top: 0;}
  .mychart_table tbody > tr > td:first-child,
  .mychart_table thead > tr > th:first-child{width: 18%;background: #eee}
  .mychart_table > thead:first-child > tr:first-child > th,
  .mychart_table.table thead > tr > th{
    height: 61px;
    border-top: 1px solid #ddd;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
  }
  .mychart_table > thead:first-child > tr:first-child > th:last-child{border-right: 1px solid #ddd;}
  .mychart_table > thead:first-child > tr:first-child > th:first-child{border-left: 1px solid #ddd;}
  .mychart_table tbody td {
    float: left;
    font-size: 11px;
    padding: 5px;
    text-align: center;
  }
  .mychart_table tbody td:last-child, 
  thead th:last-child {
    border-right: none;
  }
  .mychart_pagecon ul.exhibit-tab {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    float: right;
    border: 1px solid #999;
    border-bottom: none;
  }
  .mychart_pagecon ul.exhibit-tab li {
    float: left;
    margin: 2px;
    padding: 0 5px;
    border-right: 1px solid #999;
  }
  .mychart_pagecon ul.exhibit-tab li:last-child {
    border-right: none;
  }
  ul.abs-menus {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid #999;
    overflow: visible;
    position: relative;
    clear: both;
  }
  ul.abs-menus li.floatleft {
    float: left;
  }
  .abs-menus > li {
    position: relative;
    top: -22px;
    padding-right: 7px;
  }
  ul.abs-menus li a {
    color: #888;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
  }
  .abs-menus ul.foldercontent-sub-menu {
    position: absolute;
    width: 135px;
    cursor: default;
  }
  .abs-menus ul.foldercontent-sub-menu {
    list-style: none;
    margin: 0;
    padding: 6px 0;
    background: #ECECEC;
    display: none;
    bottom: 18px;
  }
  .abs-menus ul.foldercontent-sub-menu li {
    display: block;
    border-bottom: 1px solid #E4E4E4;
  }
  .abs-menus ul.foldercontent-sub-menu li a {
    display: block;
    padding: 2px 12px 6px;
  }
  ul.abs-menus li a i {
    padding-right: 4px;
    color: #316AB4;
  }
  .mychart-menu-edit {
    margin-left: 8px;
  }
  ul.exhibit-tab li a {
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  ul.exhibit-tab li a i{padding-right: 5px;}
  ul.exhibit-tab li.selected a {
    color: #ED1C24;
  }
  .noteContent{
    height: 405px;
    padding: 12px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    margin-bottom: 30px;
  }
  .mychart_edimod .modal-body{display: inline-block;width: 100%;}
  .mychart_edimod .h_graph_wrap{margin-top: 0;}
  .mychart_edimod .tab-content{
    background: #ddd;
    border-color: #a1a1a1;
    height: 372px;
    overflow-y: auto;
  }
  .mychart_edimod .form-control{margin-bottom: 10px;}
  .mychart_edimod .graph-line-controls{margin-bottom: 10px;display: inline-block;}
  .mychart_edimod .mcem_updbtn{text-align: center;margin-top: 15px;}
  .ppt-mycharts span i{color: #ED1C24;}
  .sortable-chosen {
    box-shadow: 0 2px 12px #ddd;
    outline: 1px solid #ccc;
  }
  ul > .nav_edittabs{display: none;}
  .folderpage_tabs .nav-tabs > li > a,
  .folderpage_tabs .nav-tabs > li.active > a{
    background-color: transparent;
    color: #333;
    border: 0;
    font-size: 14px;
    padding: 7px 13px;
  }
  .folderpage_tabs .nav-tabs > li.active > a, 
  .folderpage_tabs .nav-tabs > li.active > a:hover, 
  .folderpage_tabs .nav-tabs > li.active > a:focus{color: #316AB4;}
  .folderpage_tabs .nav-tabs{float: right;border: 0;}
  .folderpage_tabs .nav-tabs > li:last-child a{padding-right: 0;}
  .folderpage_tabs .nav-tabs > li > a:hover, 
  .folderpage_tabs .nav-tabs > li.active > a:hover, 
  .folderpage_tabs .nav-tabs > li.active > a:focus{background-color: transparent;color: #316AB4;}
  /*chart list view*/
  .folderpage_tabs .fpt_table .abs-menus > li{top: 0;}
  .folderpage_tabs .fpt_table ul.abs-menus{border: 0;padding: 0;}
  .folderpage_tabs .fpt_table > thead > tr > th:first-child,
  .folderpage_tabs .chart_listview > ul > li:first-child{width: 5%;}
  .folderpage_tabs .fpt_table > thead > tr > th:nth-child(2),
  .folderpage_tabs .chart_listview > ul > li:nth-child(2){width: 60%;}
  .folderpage_tabs .fpt_table > thead > tr > th:nth-child(3),
  .folderpage_tabs .chart_listview > ul > li:nth-child(3){width: 18%;}
  .folderpage_tabs .fpt_table > thead > tr > th:last-child,
  .folderpage_tabs .chart_listview > ul > li:last-child{width: 7%;text-align: center;}
  .folderpage_tabs .tab-content{padding: 0;border: 0;margin-top: 20px;}
  .folderpage_tabs .fpt_table > thead > tr > th{
    background-color: #ddd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .folderpage_tabs .chart_listview{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: move;
  }
  .folderpage_tabs .sortable-select{
    border: 1px solid #316AB4;
    background-color: #f5f5f5;
  }
  .folderpage_tabs .chart_listview > ul{
    padding-left: 0;
    list-style: none;
    display: table;
    width: 100%;
  }
  .folderpage_tabs .chart_listview > ul > li{vertical-align: top;display: table-cell;}
  .folderpage_tabs .chart_listview .abs-menus li.floatleft{
    float: none;
    padding-right: 0;
    top: 0;
    text-align: center;
  }
  .folderpage_tabs .chart_listview .abs-menus{border-top: 0;}
  .folderpage_tabs .chart_listview .abs-menus ul.foldercontent-sub-menu{text-align: left;}
  .folderpage_tabs .chart_listview ul{padding-left: 0;}
  .folderpage_tabs .chart_listview ul > li{list-style: none;}
  .folderpage_tabs .chart_listview ul > li.mychart-menu-edit{margin-left: 0;}
  .folderpage_tabs .chart_listview .abs-menus li .chart_options i{padding-right: 0;}
  /*.folderpage_tabs .chart_listview .fptt_title{
    font-family: 'Oswald';
    font-size: 15px;
    border-bottom: 0;
    color: #777;
    padding-top: 15px;
    text-align: left;
  }*/
  .folderpage_tabs .fpt_table > tbody > tr > td > i{padding-right: 10px;}
  /*chart small view*/
  .folderpage_tabs .ftps_holconmin{padding: 0 5px 5px;}
  .folderpage_tabs .ftps_holcon{
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 1px 3px 3px #ddd;
    z-index: 3;
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 397px;
  }
  .folderpage_tabs .ftps_holcon:before, 
  .folderpage_tabs .ftps_holcon:after {
    position: absolute;
    z-index: 2;
    content: '';
  }
  .folderpage_tabs .ftps_holcon:before {
    right: -1px;
    bottom: 4px;
    width: 19px;
    box-shadow: 2px 2px 4px 1px #b5b5b5, 0 7px 0 7px #ffffff;
    transform: rotate(-45deg);
  }
  .folderpage_tabs .ftps_holcon:after {
    bottom: 0;
    right: 0;
    border: solid 7px #f9f0f0;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .folderpage_tabs .ftps_holcon > div{padding: 0 10px;}
  .mychart_pagecon .grids .exhibit{cursor: move;border: 1px solid transparent}
  .mychart_pagecon .grids .sortable-select{
    border: 1px solid #316AB4;
    background-color: #f5f5f5;
  }
  .sortable-chosen,
  .folderpage_tabs .chart_listview .sortable-chosen,
  .mychart_pagecon .grids .sortable-chosen{border: 1px solid #316AB4 !important;background-color: #f5f5f5;}
  /*chart small view*/
  .folderpage_tabs .ftps_holconmin .mychart_table tbody > tr > td:first-child, 
  .folderpage_tabs .ftps_holconmin .mychart_table thead > tr > th:first-child{width: 25%;}
  .folderpage_tabs .ftps_holconmin .mychart_table tbody td{font-size: 10px;padding: 4px;}
  .folderpage_tabs .ftps_holconmin .mychart_table tbody{max-height: 117px;}
  .folderpage_tabs .ftps_holconmin .mychart_table > thead:first-child > tr:first-child > th, 
  .folderpage_tabs .ftps_holconmin .mychart_table thead > tr > th{
    height: 27px;
    /*max-width: 0;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .folderpage_tabs .ftps_holconmin .page-title{margin-bottom: 7px;cursor: move;padding: 0 7px;}
  .ftps_holconmin .noteContent{height: 149px;margin-bottom: 0;}
  .ftps_holconmin ul.abs-menus{display: none;}
  .folderpage_tabs .ftps_holconmin .data-views{ max-height: 233px; overflow-y: auto; overflow-x: hidden;}
  .ftps_holconmin .page-title > h4 > i{float: right; color: #919191;}
  #smallView_grids .ftps_holconmin .charts_exhtabs{display: none;}
  #smallView_grids .ftps_holconmin .highcharts-container > span{top: auto !important;}
  #smallView_grids .ftps_holconmin .highcharts-container{height: auto !important;max-height: 149px;}
  #smallView_grids .sub-title h5{
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  #smallView_grids svg g.highcharts-legend rect{
    x: 10px !important;
    font-size: 10px !important;
    font-weight: normal !important;
    width: 100% !important;
  }
  #smallView_grids svg g.highcharts-legend-item rect{
    x: 10px !important;
    font-size: 10px !important;
    font-weight: normal !important;
    width: 5% !important;
  
  }
  #smallView_grids svg g.highcharts-legend-item  text{
    font-size: 10px !important;
    font-weight: normal !important;
  }
  .ftps_holconmin .page-title h4{font-size: 14px;}
  .sortable-ghost{opacity: 0;}

/*category page css start*/
  .h_graph_tab_area .graph-line .form-control,
  .h_graph_tab_area .graph-addmore .form-control,
  .h_graph_tab_area .graph-line .input-group{margin-bottom: 8px;}
  .h_graph_tab_area .graph-line .input-group .form-control{margin-bottom: 0;}
  .h_graph_tab_area .dv_addmore-button{display: inline-block;width: 100%;margin-bottom: 9px;}
  .h_graph_tab_area .tab-content{height: 407px;overflow-y: auto;}
  .h_graph_tab_area select.addmore-select{margin-bottom: 15px;}
  .h_graph_tab_area .hgta_socsha li{
    background: #316AB4;
    color: #fff;
    padding: 5px;
    width: 29px;
    height: 29px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
  }
  .h_graph_tab_area .hgta_socsha li:hover{
    color: #444;
  }
  .catpage_valuecon{padding: 0;margin: 10px 0;}
  .graph-line .input-group-addon{background-color: transparent;}

/*my account page css start*/
  .myacc_tabs .nav-tabs > li > a > i{
        font-size: 14px;
    vertical-align: text-top;
    padding-top: 1px;
    
    padding-right: 3px;
  }
  .myacc_tabs .nav-tabs > li.active > a > i{color: #fff;}
  .myacc_fresubttl{margin-top: 15px; margin-bottom: 17px;}
  .myacc_fresubttl i{color: #6EB92B; padding: 0 5px 0 7px; }
  .myacc_subform .activepro{background: #f05e00;color: #ffffff;}
  .myacc_subform li .fa{
    padding-top: 3px;
  }
  .myacc_subform li sup .fa{
    font-size: 11px;
    width: auto;
    padding-right: 3px;
  }
  .myacc_subform .ssp_freuse .fa{color: #6EB92B;}
  .myacc_subform .ssp_preuse .fa,
  .myacc_subform .ssp_coruse .fa{color: #22558F;}
  .myacc_subform .activepro .fa,
  .myacc_subform .activepro .fa{color: #ffffff;}
  .masf_upgbtn{text-align: center;margin-top: 20px;}
  .myacc_cansubs{position: relative;z-index: 3;}
  .myacc_subform {
    margin: 30px;
    box-shadow: 0 0 5px 1px #777;
    position: relative;
    background: white;
    display: inline-block;
    width: calc(100% - 70px);
    box-shadow: 1px 3px 3px #ddd;
    border-color: #ddd;
  }
  .myacc_subform:after {
    bottom: 0;
    right: 0;
    border: solid 17px #f9f0f0;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .myacc_subform:before {
    right: -6px;
    bottom: 15px;
    width: 48px;
    box-shadow: 2px 2px 4px 1px #b5b5b5, 0 25px 0 24px #ffffff;
    transform: rotate(-45deg);
  }
  .myacc_subform:before, .myacc_subform:after {
    position: absolute;
    z-index: 2;
    content: '';
  }

/*user login css start*/
  .cnt223 {
    width: 206px;
    height: 285px;
    bottom: 23px;
    right: 23px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 103;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    border: 1px solid #316AB4;
  }
  .POPUser {
    color: #666666;
    font-weight: bold;
    font-family: arimo;
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #316AB4;
  }
  .POPUser > i{
    color: #666666;
    font-size: 15px;
    margin: 0 4px 1px 5px;
    vertical-align: middle;
  }
  .cnt223 .x {
    float: right;
    left: -3px;
    position: relative;
    top: 0;
    cursor: pointer;
  }
  .cnt223 .x > i{
    color: #316AB4;
  }
  #Dv_login_wrapper, #Dv_register_wrapper {
    padding: 10px;
  }
  .login_box_input {
    width: 100%;
    float: left;
    margin-bottom: 12px;
  }
  .formPop_textfield {
    padding: 5px;
    width: 100%;
    font-size: 12px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
  }
  .ForPassword {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }
  .ForPassword a {
    font-size: 13px;
    color: #255A8E;
  }
  .cnt223 .sinup_orcon p {
    padding: 8px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .cnt223 .btn-sm{padding: 3px 17px;margin-bottom: 5px;}
  .cnt223 .control{margin-bottom: 9px;}
  .cnt223 .chat_signlin{text-align: center;}
  .cnt223 .chat_signlin img{height: 29px;}

/*my char my folder toggle*/
  .myfol_toggle{
    position: fixed;
    left: 0;
    top: calc(50% - 41px);
    z-index: 55;
  }
  .mft_ttl{
    color: #ffffff;
    padding: 24px 7px 24px 5px;
    border-radius: 0 3px 3px 0;
    position: relative;
    float: right;
    line-height: 1;
    cursor: pointer;
    background-image: url(../../images/my_charts.png);
    background-color: #316AB4;
    background-position: center top;
    width: 26px;
    height: 129px;
  }
  .mft_ttl:hover{background-color: #E60013;}
  .mft_ttl i{
    -webkit-transition: .6s all ease;
    transition: .6s all ease;
    top: 85%;
    position: relative;
    left: 4px;
  }
  .mft_ttl.active i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .6s all ease;
    transition: .6s all ease;
  }
  .myfol_toggle .mtf_content{
    display: block;
    width: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    height: 183px;
    box-shadow: 0 1px 11px -1px #000;
    position: relative;
    float: left;
    background: #2d2d2d;
    color: #ffffff;
  }
  .myfol_toggle .mtf_content.active{
    width: 197px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
  }
  .myfol_toggle .mycha_toglogin{
    font-family: 'Oswald';
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 0;
    padding-top: 40px;
    text-align: center;
    line-height: 2;
  }
  .mtf_content li{
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }
  .mtf_content li.add-folder{
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  .mtf_content li.mychart-menu-set{
    border-bottom: 0;
  }
  .mtf_content li i{padding-right: 5px;}
  .mtf_content li i.fa-trash{
    float: right;
    line-height: 1.4;    
  }
  .mtf_content .mtfc_btn{
    width: 100%;
    border-radius: 0;
    padding: 3px;
  }
  .mtf_content > ul{margin-bottom: 0;max-height: 155px;overflow-y:auto;}
  .mychart-menu-set span.folder-span-name{padding: 3px;}
  .mychart-menu-set span[contenteditable=true]{background-color: #ffffff;color: #444;}
  .folderpage_tabs .nav-tabs.pos-fixed{
    top: 62px;
    background: rgba(164,164,164,0.5);
    z-index: 10;
    padding-right: 10px;
    right: 0;
    float: right;
    width: 95px;
  }

/*briefs page css start*/
  .jmabrief_container{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
  }
  .jmabrief_container ul li{font-size: 15px;margin-bottom: 7px;}
  .jmabrief_container ul li i{color: #316AB4;padding-right: 3px;}

/*presentation materials page css start*/
  a.lnk_inactive{color: #b4b4b4;}
  a.lnk_inactive.btn{background-color: #b4b4b4;color: #ffffff;}
  a.lnk_inactive.btn:hover{color: #777;}
  .premat_con .pmc_imgcon{min-width: 100%;}

/*materials in japanese page css start*/
  h4.matinjap_ttl{line-height: 1.5;}
  p.matinjap_con a{word-break: break-all;}

/*page categories*/
  .graph-line-controls {height: 20px;}
  .graph-addmore .addmore{
    text-transform: uppercase;
    font-family: 'Oswald';
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 3px;
    color: #e60012;
  }

/*Map chat page css start*/
.states_popcha{
	float: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #ddd;
	width:100%;
}
.states_popcha .spc_mapcon{
	border-right: 1px solid #ddd;
}
  
/*footer*/
  footer{
    background: #2d2d2d;
    border-top: 21px solid #ddd;
    margin-top: 30px;
    color: #ffffff;
    padding-top: 25px;
  }
  footer .footer_container{
    padding-bottom: 21px;
  }
  footer .fot_paycard li{
    width: 23%;
  }
  footer .footer_container a{
    color: #cccccc;
    text-decoration: underline;
  }
  footer .footer_container a:hover{
    color: #337ab7;
  }
  footer .footer_copycont{
    background: #ddd;
    color: #333;
    padding: 10px 0;
  }
  footer .footer_copycont a{color: #2d2d2d;}
  footer .footer_copycont a:hover{color: #23527c;}
  .footer_copycont p{
    margin-bottom: 0;
    font-size: 13px;
    padding-top: 2px;
  }
  .footer_copycont ul{
    margin: 0;
    text-align: right;
  }
  footer .list_popchart{margin-bottom: 0;}
  footer .list_popchart li{margin-bottom: 3px;}
  footer .list_popchart a{color: #f5f5f5;text-decoration: none;font-size: 15px;}
  footer .list_popchart i{color: #ffffff;}

/*pricing table css*/
  .pricing {background: #C5C5C5; padding: 40px 0 20px; color: #fff; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
  .pricing .thumbnail {background: #fff; display: block; width: 90px; height: 90px; margin: 0 auto; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; font-size: 36px; line-height: 80px; text-align: center; }
  .pricing .title {cursor: pointer; background: #22558F; margin: 40px 0 0; padding: 10px; font-size: 18px; text-align: center; text-transform: uppercase; font-weight: 700; }
   .pricing .titlefree {cursor: pointer; background: #6EB92B; margin: 40px 0 0; padding: 10px; font-size: 18px; text-align: center; text-transform: uppercase; font-weight: 700; }
  .pricing .content .sub-title {background: #eee; padding: 10px; color: #666; font-size: 14px; font-weight: 700; text-align: center; }
  .pricing .content ul {list-style: none; background: #fff; margin: 0; padding: 0; color: #666; font-size: 14px; }
  .pricing .content ul li {padding: 10px 20px; }
  .pricing .content ul li:nth-child(2n) {background: #f3f3f3; }
  .pricing .content ul li .fa {width: 16px; margin-right: 10px; text-align: center; }
  .pricing .content ul li .fa-check {color: #2ecc71; }
  .pricing .content ul li .fa-close {color: #e74c3c; }
  .pricing .content a {display: block; max-width: 80%; margin: 0 auto; margin-top: 20px; padding: 7px 15px; color: #fff; font-size: 18px; font-weight: 700; text-align: center; text-decoration: none; -webkit-transition: 0.2s linear; -moz-transition: 0.2s linear; -ms-transition: 0.2s linear; -o-transition: 0.2s linear; transition: 0.2s linear; }

/*custom check box and radio button*/ 
  .control {display: block; position: relative; padding-left: 25px; margin-bottom: 15px; cursor: pointer; font-size: 14px; font-weight: normal;}
  .control input {position: absolute; z-index: -1; opacity: 0; }
  .control__indicator {position: absolute; top: 2px; left: 0; height: 17px; width: 17px; background: #ddd; border: 1px solid #f5f5f5;}
  .control--radio .control__indicator {border-radius: 50%; }
  .control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator {background: #ccc; }
  .control input:checked ~ .control__indicator {background: #2aa1c0; }
  .control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator {background: #0e647d; }
  .control input:disabled ~ .control__indicator {background: #e6e6e6; opacity: 0.6; pointer-events: none; }
  .control__indicator:after {content: ''; position: absolute; display: none; }
  .control input:checked ~ .control__indicator:after {display: block; }
  .control--checkbox .control__indicator:after {left: 5px; top: 3px; width: 5px; height: 8px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg); }
  .control--checkbox input:disabled ~ .control__indicator:after {border-color: #7b7b7b; }
  .control--radio .control__indicator:after {left: 7px; top: 7px; height: 6px; width: 6px; border-radius: 50%; background: #fff; }
  .control--radio input:disabled ~ .control__indicator:after {background: #7b7b7b; }
  .select {position: relative; display: inline-block; margin-bottom: 15px; width: 100%; }
  .select select {display: inline-block; width: 100%; cursor: pointer; padding: 10px 15px; outline: 0; border: 0; border-radius: 0; background: #e6e6e6; color: #7b7b7b; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
  .select select::-ms-expand {display: none; }
  .select select:hover, .select select:focus {color: #000; background: #ccc; }
  .select select:disabled {opacity: 0.5; pointer-events: none; }
  .select__arrow {position: absolute; top: 16px; right: 15px; width: 0; height: 0; pointer-events: none; border-style: solid; border-width: 8px 5px 0 5px; border-color: #7b7b7b transparent transparent transparent; }
  .select select:hover ~ .select__arrow, .select select:focus ~ .select__arrow {border-top-color: #000; }
  .select select:disabled ~ .select__arrow {border-top-color: #ccc; }

/*bootstrap css*/
  /*grid*/
  @media (min-width: 1250px) {.container {width: 1200px; } }
  /*tags*/
  img{max-width: 100%;}
  h4{font-size: 19px;}
  h5{font-size: 16px;line-height: 1.4;}
  /*buttons*/
  .btn-sm{padding: 5px 23px;}
  /*modal*/
  .modal {text-align: center; padding: 0!important; }
  .modal:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px; }
  .modal-dialog {display: inline-block; text-align: left; vertical-align: middle; }

/*loader css*/
  #overlay_loading{position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1031; background: rgba(255,255,255,0.7);}
  .cssload-preloader {position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 10; }
  .cssload-preloader > .cssload-preloader-box {position: absolute; height: 29px; top: 50%; left: 50%; margin: -15px 0 0 -146px; perspective: 195px; -o-perspective: 195px; -ms-perspective: 195px; -webkit-perspective: 195px; -moz-perspective: 195px; }
  .cssload-preloader .cssload-preloader-box > div {position: relative; width: 29px; height: 29px; background: rgb(204,204,204); float: left; text-align: center; line-height: 29px; font-family: Verdana; font-size: 19px; color: rgb(255,255,255); }
  .cssload-preloader .cssload-preloader-box > div:nth-child(1) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 0ms infinite alternate; -o-animation: cssload-movement 690ms ease 0ms infinite alternate; -ms-animation: cssload-movement 690ms ease 0ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 0ms infinite alternate; -moz-animation: cssload-movement 690ms ease 0ms infinite alternate; }
  .cssload-preloader .cssload-preloader-box > div:nth-child(2) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 86.25ms infinite alternate; -o-animation: cssload-movement 690ms ease 86.25ms infinite alternate; -ms-animation: cssload-movement 690ms ease 86.25ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 86.25ms infinite alternate; -moz-animation: cssload-movement 690ms ease 86.25ms infinite alternate; }
  .cssload-preloader .cssload-preloader-box > div:nth-child(3) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 172.5ms infinite alternate; -o-animation: cssload-movement 690ms ease 172.5ms infinite alternate; -ms-animation: cssload-movement 690ms ease 172.5ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 172.5ms infinite alternate; -moz-animation: cssload-movement 690ms ease 172.5ms infinite alternate; }
  .cssload-preloader .cssload-preloader-box > div:nth-child(4) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 258.75ms infinite alternate; -o-animation: cssload-movement 690ms ease 258.75ms infinite alternate; -ms-animation: cssload-movement 690ms ease 258.75ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 258.75ms infinite alternate; -moz-animation: cssload-movement 690ms ease 258.75ms infinite alternate; }
  .cssload-preloader .cssload-preloader-box > div:nth-child(5) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 345ms infinite alternate; -o-animation: cssload-movement 690ms ease 345ms infinite alternate; -ms-animation: cssload-movement 690ms ease 345ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 345ms infinite alternate; -moz-animation: cssload-movement 690ms ease 345ms infinite alternate; }
  .cssload-preloader .cssload-preloader-box > div:nth-child(6) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 431.25ms infinite alternate; -o-animation: cssload-movement 690ms ease 431.25ms infinite alternate; -ms-animation: cssload-movement 690ms ease 431.25ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 431.25ms infinite alternate; -moz-animation: cssload-movement 690ms ease 431.25ms infinite alternate; }
  .cssload-preloader .cssload-preloader-box > div:nth-child(7) {background: #316AB4; margin-right: 15px; animation: cssload-movement 690ms ease 517.5ms infinite alternate; -o-animation: cssload-movement 690ms ease 517.5ms infinite alternate; -ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate; -webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate; -moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate; }
  @keyframes cssload-movement {from {transform: scale(1.0) translateY(0px) rotateX(0deg); box-shadow: 0 0 0 rgba(0,0,0,0); } to {transform: scale(1.5) translateY(-24px) rotateX(45deg); box-shadow: 0 24px 39px #316AB4; background: #316AB4; } }
  @-o-keyframes cssload-movement {from {-o-transform: scale(1.0) translateY(0px) rotateX(0deg); box-shadow: 0 0 0 rgba(0,0,0,0); } to {-o-transform: scale(1.5) translateY(-24px) rotateX(45deg); box-shadow: 0 24px 39px #316AB4; background: #316AB4; } }
  @-ms-keyframes cssload-movement {from {-ms-transform: scale(1.0) translateY(0px) rotateX(0deg); box-shadow: 0 0 0 rgba(0,0,0,0); } to {-ms-transform: scale(1.5) translateY(-24px) rotateX(45deg); box-shadow: 0 24px 39px #316AB4; background: #316AB4; } }
  @-webkit-keyframes cssload-movement {from {-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg); box-shadow: 0 0 0 rgba(0,0,0,0); } to {-webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg); box-shadow: 0 24px 39px #316AB4; background: #316AB4; } }
  @-moz-keyframes cssload-movement {from {-moz-transform: scale(1.0) translateY(0px) rotateX(0deg); box-shadow: 0 0 0 rgba(0,0,0,0); } to {-moz-transform: scale(1.5) translateY(-24px) rotateX(45deg); box-shadow: 0 24px 39px #316AB4; background: #316AB4; } }

/*default css start*/
  /*tag*/
  /*a{color: #EF7F1D;cursor: pointer;}*/
  /*buttons*/
  .btn-primary{background: #316AB4; color: #ffffff;border-color: #316AB4;}
  .btn-primary:hover{background: #E60013;border-color: #E60013;}
  .btn-secondry{background: #E60013; color: #ffffff;}
  .btn-secondry:hover{background: #316AB4;color: #ffffff;}
  /*tabs*/
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background: #2d2d2d;color: #ffffff;border: 0;}
  .nav-tabs > li > a{padding: 7px 15px;background: #255A8E;color: #ffffff;font-size: 16px;border: 0;margin: 0;border-radius: 0;}
  .navtab-sm > li > a{padding: 5px 14px;font-size: 13px;}
  .nav-tabs > li > a:hover{background: #2d2d2d;color: #ffffff;}
  .tab-content{display: inline-block; width: 100%; padding: 20px; border: 1px solid #ddd; }
  .nav-tabs > li > a:hover{border-color: transparent;}

/*scroller*/
  ::-webkit-scrollbar {-webkit-appearance: none; }
  ::-webkit-scrollbar:vertical {width: 12px; }
  ::-webkit-scrollbar:horizontal {height: 12px; }
  ::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, .5); border-radius: 10px; border: 2px solid #ffffff; }
  ::-webkit-scrollbar-track {border-radius: 10px; background-color: #ffffff; }

/*utility classes*/
  /*margin*/
  .marb0{margin-bottom: 0;}
  .marb20{margin-bottom: 20px;}
  /*overlay*/
  .color_overlayd{background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
  /*title*/
  .main-title,.sec-title,.sub-title{position: relative;}
  .main-title h4{font-size: 21px; border-bottom: 1px solid #ddd; padding-bottom: 13px; margin-bottom: 19px; }
  .main-title .mttl-line{ border-bottom: 3px solid #316AB4; width: 70px; position: absolute; bottom: -1px;}
  .sec-title h4{font-size: 19px;border-bottom: 1px solid #ddd; padding-bottom: 12px; margin-bottom: 15px;}
  .sec-title .sttl-line{ border-bottom: 1px solid #316AB4; width: 70px; position: absolute; bottom: 0px;}
  .sub-title h5{font-size: 17px;border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 15px;}
  .sub-title .sttl-line{ border-bottom: 1px solid #316AB4; width: 50px; position: absolute; bottom: 0px;}
  .sub-title2 .ttl_sec2{ float: left; width: 100%; color: #a1a1a1; line-height: 1.5;}
  .sec-date.sec-title h4, .sec-date.main-title h4{margin-top: 5px;}
  .sec-date.sec-title h4 a{color: #333;}
  .sec-date.sec-title h4 a:hover{color: #337ab7;}
  .sec-date .released{margin: 10px 0 0; width: 100%; color: #a1a1a1; }
  .sec-date .latest{background: #316AB4; color: #ffffff; font-size: 13px; padding: 3px 5px; line-height: 1; display: inline-block; vertical-align: top; margin: 1px 5px 0 0;}
  /*padding*/
  .default-padding{padding: 0 15px;}
  .padl0{padding-left: 0;}
  .padr0{padding-right: 0;}
  .pad0{padding: 0;}
  /*spacer*/
  .spacer10{height: 10px;display: inline-block;width: 100%;}
  /*list*/
  .list-fontawesome{padding-left: 0; list-style: none;}
  .list-fontawesome li{display: list-item; text-align: -webkit-match-parent;}
  .list-fontawesome li i{vertical-align: middle;padding-right: 3px;}
  /*color*/
  .lgray{color: #a1a1a1;}
  /*colors*/
  .color-green{color: #6EB92B;}
  .color-blue{color: #22558F;}
  /*icon sup*/
  .icon-sup .fa-user{padding: 0 !important;color: #22558F;}
  .icon-sup sup{left: -5px;}
  .icon-sup .fa-star{color: #22558F; font-size: 11px;}
  /*width*/
  .full-widthf{width: 100%;float: left;}
  /*overflow*/
  .overflow-hidden{overflow: hidden;}
  /*position*/
  .pos-fixed{position: fixed;}