@media (max-width: 1280px){
  /*navigation*/
  .navbar-brand{height: 47px;}
  .navbar-header{width: 225px;padding-top: 2px;}
}
@media (max-width: 1199px){
  /*navigation*/
  .navbar-header{width: 100%; text-align: center; margin: auto;}
  .navbar-default .navbar-brand{width: 255px; margin: auto; float: none; display: inline-block;}
  /*left content*/
  .h_graph_tab_area{margin-top: 30px;}
  .h_graph_tab_area .tab-content{height: auto;}
  /*my folder*/
  .folderpage_tabs .nav-tabs.pos-fixed{top: 119px;}
  .chart_listview .abs-menus ul.foldercontent-sub-menu{right: 0;}
  /*footer*/
  footer .footer_copycont a{display: inline-block;}
}
@media (max-width: 1024px){
  /*chart*/
  ul > .nav_edittabs{display: inline-block;}
  .h_graph_tab_area{display: none;}
}
@media (max-width: 991px) {
  /*nav bar*/
  .navbar-header{text-align: left;}
  .navbar-header {float: none; }
  .navbar-toggle {display: block; }
  .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
  .navbar-collapse.collapse {display: none!important; }
  .navbar-nav {float: none!important; margin: 7.5px -15px; }
  .navbar-nav>li {float: none; }
  .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px; }
  .navbar-text {float: none; margin: 15px 0; }
  .navbar-default .navbar-collapse{max-height: 340px;}
  .navbar-default ul.navbar-right > li{display: none;}
  .navbar-default ul.navbar-right > li:last-child,
  .navbar-default ul.navbar-right > li:nth-last-child(2){display: block;}
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {display: block!important;overflow-y:auto !important;position: fixed; top: 100px; bottom: 0; right: 0; left: 0; z-index: 19; max-height: 100%; padding-left: 10px;}
  .collapsing {overflow: hidden!important; }
  .navbar-header{width: 100%;}
  .navbar-brand > img{height: auto;margin-top: 5px;}
  .navbar-nav.navbar-mobmenu{display: block;}
  .navbar-toggle{background-color: #bbbbbb;}
  .navbar-default .navbar-toggle .icon-bar{background-color: #464646;}
  .navbar-nav .dropdown-submenu .dropdown-menu > li > a{padding-left: 35px;}
  .navbar-default .navbar-collapse{background-color: #dadada;}
  .navbar-right,.navbar-nav.navbar-mobmenu{margin: 0;}
  .nav > li{border-bottom: 1px solid #b1b1b1;}
  .nav > li:last-child{border-bottom: 0;}
  .navbar-nav .gte_con{padding: 12px 0 12px 12px;}
  .navbar-nav.navbar-mobmenu > li > .mob_maitit{ background: #616161; color: #ffffff;}
  .navbar-mobmenu .mob_maitit i{padding-right: 3px;}
  /*slider*/
  .carousel_home .carousel-caption h4{margin-bottom: 10px;}
  /*Left menu*/
  .content_leftside {display: none; }
  /*right side bar*/
  .right_vidcon, #right-news{margin: auto;}
  /*product*/
  .pricing{margin-bottom: 35px;}
  /*login*/
  .loginpage_con .li_licon{box-shadow: none;padding-right: 0;}
  /*presentation materials*/
  .premat_con .pmc_imgcon{margin-bottom: 25px;}
  .premat_con{text-align: center;}
  /*my account*/
  .myacc_subform .upgradetext h5{margin-bottom: 30px;}
  .myacc_subform > div{text-align: center;}
  .signup_request_select, .signup_request_select_inactive{float: none;margin: auto;}
  /*my charts*/
  .mychart_pagecon ul.exhibit-tab{display: inline-block;border-bottom: 1px solid #999;}
  ul.abs-menus{padding: 3px 2px 2px;border-top: 0;display: inline-block; margin-top: 10px;}
  .abs-menus > li{top: 0;}
  .mychart_pagecon .charts_exhtabs{border-bottom: 1px solid #999;padding-bottom: 5px;}
  .folderpage_tabs .nav > li{border-bottom: 0;}
  .folderpage_tabs .fpt_table thead{display: none;}
  .folderpage_tabs .fpt_table > tbody > tr{display: inline-block;width: 100%;border-bottom: 2px dotted #ddd;}
  .folderpage_tabs .fpt_table > tbody > tr > td{display: inline-block;border-bottom: 0;float: left;}
  .folderpage_tabs .fpt_table > tbody > tr > td:first-child{width: 100%;}
  .folderpage_tabs .fpt_table > tbody > tr > td:nth-child(2){width: 90%;}
  .folderpage_tabs .fpt_table > tbody > tr > td:last-child{width: 10%;}
  .folderpage_tabs .fpt_table > tbody > tr > td.fptt_title{width: 100%;}
  /*my account*/
  #Table_user_profile_show .tups_email{word-break: break-all;}
  /*my folder*/
  .folderpage_tabs .nav-tabs.pos-fixed{top: 69px;}
  /*footer*/
  .footer_copycont p.copy_right{margin-bottom: 5px;text-align: center;}
  .footer_copycont ul{text-align: center;width: 100%;}
  /*utility*/
  .hidden-md{display: none;}
  .pad-md0{padding: 0;}
}
@media (max-width: 960px){
  /*slider*/
  .carousel_home .carousel-caption h4{font-size: 31px;}
}
@media (max-width: 800px){}
@media (max-width: 767px){
  /*navbar*/
  .navbar-toggle{margin-right: 0;}
  /*about us*/
  .our_team .ot_img,.our_team .ot_content,.our_team .ot_content a.text-right{text-align: center;}
  /*briefseries*/
  .jmabrief_container{text-align: center;}
  .jmabrief_container .btn{margin-top: 20px;}
  /*my account*/
  .signup_request_select, .signup_request_select_inactive{margin-bottom: 30px;}
  /*sign up*/
  .sinup_selpro .ssp_freuse > .form-group{margin-bottom: 0;}
  .signup_frm > .form-group > .col-xs-12,
  .signup_frm > .col-xs-12{padding: 0;}
  /*my charts*/
  .folderpage_tabs .chart_listview > ul > li{display: inline-block;}
  .folderpage_tabs .chart_listview > ul > li:first-child{width: 9%;margin-bottom: 10px;}
  .folderpage_tabs .chart_listview > ul > li:nth-child(2){width: 91%;margin-bottom: 10px;}
  .folderpage_tabs .chart_listview > ul > li:nth-child(3){width: 85%;padding-left: 10%;}
  .folderpage_tabs .chart_listview > ul > li:last-child{width: 15%;}
  .folderpage_tabs .chart_listview .abs-menus ul.foldercontent-sub-menu{right: 0;}
  .folderpage_tabs #fpt_small,
  .folderpage_tabs .fpt_small{display: none;}
  .large-view svg g.highcharts-legend-item text{font-weight: normal !important;}
  /*footer*/
  footer .fot_paycard li{width: 13%;}
  /*utility*/
  .sm-pad{padding-left: 15px;padding-right: 15px;}
  .sm-txtcen{text-align: center;}
}
@media (max-width: 736px){
  /*slider*/
  .carousel_home .carousel-caption h4{font-size: 27px;}
  .carousel_home .carousel-caption{top: calc(50% - 85px);}
}
@media (max-width: 667px){
  /*slider*/
  .carousel_home .carousel-caption{top: calc(50% - 113px);}
  /*slider small*/
  .carousel-inner.smallslider .item img{height: 283px;}
}
@media (max-width: 640px){
  /*commercial policy*/
  table.commtbl, table.commtbl tr{display: block;border: 0;}
  table.commtbl tr > td, .commtbl tr td:first-child{display: inline-block;width: 100%;border-bottom: 0;}
  table.commtbl{border-bottom: 1px solid #ddd;}
  /*slider*/
  .carousel_home .carousel-caption .btn{margin: 0 3px 15px;}
}
@media (max-width: 568px){
  /*slider*/
  .carousel_home .carousel-caption h4{font-size: 23px;}
  /*slider small*/
  .carousel-inner.smallslider .item img{height: 209px;}
  /*login*/
  .loginpage_con .panel-body{padding: 15px 0}
  /*my account*/
  .myacc_tabs .nav-tabs > li{width: 100%;text-align: center;margin-bottom: 1px;border-bottom: 0;}
  .myacctra_table{display: block;}
  .myacctra_table tr{display: inline-block;width: 50%;float: left;}
  .myacctra_table tr > th,
  .myacctra_table tr > td{display: inline-block;width: 100%;min-height: 39px;}
  .mychart_table > thead:first-child > tr:first-child > th, 
  .mychart_table.table thead > tr > th{height: 57px;}
  /*sign up pop up*/
  .popup{display: none !important;}
  /*footer*/
  footer .fot_paycard li{width: 23%;}
  .footer_container p{font-size: 13px;}
}
@media (max-width: 465px){
  /*navbar*/
  .navbar-collapse.collapse.in{top: 123px;}
  /*chart*/
  .h_graph_wrap .list_graphhead{position: relative;}
  .ExportHeading.graph-nav{position: inherit;}
  .ExportHeading .Exports.sub-nav, .ExportHeading .Folders.sub-nav{width: 273px;}
  .large-view svg g.highcharts-legend rect{x: 10px !important; }
  /*slider*/
  .carousel_home .carousel-caption h4{font-size: 19px;}
  .carousel-indicators{bottom: 0;margin-bottom: 3px;}
  .carousel_home .carousel-caption .btn{padding: 5px 11px;font-size: 11px;}
  .carousel_home .btn_premium .fa-user{font-size: 13px;}
  .carousel_home .btn_premium .fa-star{font-size: 7px;padding-right: 9px;}
  .carousel_home .btn_carhom i{font-size: 13px;padding-right: 5px;}
  /*graph*/
  .h_graph_content_area .highcharts-legend text{font-size: 9px !important;}
  /*cookie bar*/
  #cookie-bar p span{width: 100%;display: inline-block;}
}
@media (max-width: 414px){
  /*nav bar*/
  .navbar-default .navbar-brand{width: 55%;}
  /*slider*/
  .carousel_home .carousel-caption{top: calc(58% - 113px);}
  .carousel_home .carousel-caption h4 {font-size: 19px; }
  .carousel_home .btn_carhom{margin-top: 0;}
  /*contact*/
  .conpag_colpan table.table-bordered{display: block; border: 0;}
  .conpag_colpan table.table-bordered tr{display: block; margin-bottom: 15px;border-bottom: 1px solid #ddd;}
  .conpag_colpan table.table-bordered th{display: inline-block; width: 100%; border-bottom: 0;}
  .conpag_colpan table.table-bordered td{display: inline-block; width: 100%; border-bottom: 0;}
  /*gdp page css start*/
  .h_graph_tab_area .navtab-sm > li{width: 100%;}
  /*modal signin*/
  #Dv_modal_login .list_sigmod{width: 100%;margin-top: 10px;}
  #Dv_modal_login .list_sigmod li{padding-bottom: 10px;}
  /*subscription*/
  #subscription table.table-striped{display: block;border-width: 0px 0px 1px 1px;}
  #subscription table.table-striped tr{display: inline-block;float: left;width: 50%;}
  #subscription table.table-striped tr th,
  #subscription table.table-striped tr td{float: left;width: 100%;display: inline-block;height: 44px;border-width: 1px 1px 0 0;font-size: 12px;}
  #subscription table tr.subs_recnotfou td{height: 176px;font-size: 17px; padding-top: 43%;}
  /*common*/
  .sub-title h5, .main-title h4{line-height: 1.5;}
}
@media (max-width: 384px){
  /*nav bar*/
  .navbar-default .navbar-brand{width: 75%;}
  /*slider*/
  .carousel_home .carousel-caption{top: calc(62% - 113px);}
  .carousel_home .carousel-caption h4 {font-size: 16px; }
  /*css3 loader*/
  .cssload-preloader .cssload-preloader-box > div{width: 21px;height: 21px;line-height: 21px;font-size: 12px;}
  .cssload-preloader > .cssload-preloader-box{margin: -15px 0 0 -115px;}
}
@media (max-width: 375px){}
@media (max-width: 360px){
  /*contact*/
  .conpage_container .nav-tabs > li{width: 100%;text-align: center;}
  .carousel_home .carousel-caption h4{font-size: 15px;}
}
@media (max-width: 320px){}