<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Japan Macro Advisors</title>
</head>
<body>
	<div style="width:818px;float:left; font-family:Arial;border:1px solid black">
    <div style="float:left; padding-left:80px;padding-top:10px;">
    <img src="http://japanmacroadvisors.com/images/mail_template/logo.png" />
    
			<h3>Welcome to Japan Macro Advisors</h3>
			</div>
<div>
<img src="http://japanmacroadvisors.com/images/mail_template/jmabanner.jpg" />
</div><br />		
<div style="width:655px; float:left; margin-top:-10px; padding-left:80px">
		
			<p style="font-size:14px;">Dear <b>{{name}}</b>,</p>

<p style="font-size:14px;">You successfully cancelled your monthly Premium subscription. Your account has been downgraded to Free User.</p>

<p style="font-size:14px;">Subscription charges will be cancelled the next time your account is up for monthly renewal.</p>
<!-- <p style="font-size:14px;">Please note that your payment for subscription charge of {{currency}} {{amount}} stands cancelled for the monthly Premium subscription at your next renewal.</p> -->
<p style="font-size:14px;">We would appreciate any feedback on our services at <a style="font-size:14px;" href="mailto:support@japanmacroadvisors.com">support@japanmacroadvisors.com</a>. </p>

<p style="font-size:14px;">For more information on our products, check  <a style="font-size:14px;" href="http://japanmacroadvisors.com/products">here</a> </p>
<p style="font-size:14px;">Thank you for choosing Japan Macro Advisors.</p>


<p style="font-size:14px;">Thank you,

<br>Japan Macro Advisors

<br><a style="font-size:14px;" href="http://japanmacroadvisors.com/">www.japanmacroadvisors.com</a></p>
    		
       
	</div>
</div>
</body>
</html>