<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Japan Macro Advisors</title>
</head>
<body>
	<div style="width:818px;float:left; font-family:Arial;border:1px solid black">
    <div style="float:left; padding-left:80px;padding-top:10px;">
    <img src="http://demo.japanmacroadvisors.com/images/mail_template/logo.png" />
    
			<h3>Thank you from Japan Macro Advisors</h3>
			</div>
<div>
<img src="http://demo.japanmacroadvisors.com/images/mail_template/jmabanner.jpg" />
</div><br />		
<div style="width:655px; float:left; margin-top:-10px; padding-left:80px">
		<p style="font-size:14px;">Hi {{name}},</p>
			<p style="font-size:14px;">Thank you for finding us and deciding to subscribe to our email alert service. We have been running our web service as a free beta service since 2013. After a year of testing, we are happy to announce that the JMA web site is now becoming a fee based service. As a thank you to early subscribers, we are happy to provide a free and unchanged access to JMA web page for the duration of 6 months to our existing email alert subscribers. </p>
			<p style="font-size:14px;">Significant portion of JMA features will continue to be available without logging in. But in order for you to access the following features and contents, you will need to log in with your ID ({{username}}) and password as provided below. The log-in link can be found at the top right of the JMA page. We hope the requirement to log in will not hinder your use of our services too much. </p>
	<p style="font-size:14px; color:#F00; font-weight:bold"> Important account information</p>
    
    <p style="font-size:14px; color:#000; font-weight:bold">Login to your account:<br /><br />
       Username:{{username}}<br />
       Password:{{password}}<br /><br />
    </p>

    <ul style="font-size:14px;font-family:arial;font-size:14px;">
    <li><strong>Data download</strong><br />
    In order to use this feature, you need to be logged in.
    </li>
    <li><strong>Our scenario analysis</strong><br />You now have access to our long term scenario analysis page.
    </li>
    <li><strong>JMA brief series</strong><br />You now have access to our JMA economic brief series
    </li>
    <li><strong>Send your questions to our economists</strong><br />You are now welcome to send your questions on the Japanese economy to our senior economists though help desk features.  We will do at most to provide appropriate answers. </li>
    </ul>		
	<p style="font-size:14px;">Thank you for choosing Japan Macro Advisors.</p>
       <p  style="font-size:14px;">Thanks,<br>JMA Team</p>
	</div>
</div>
</body>
</html>