<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Japan Macro Advisors</title>
</head>
<body>
	<div style="width:818px;float:left; font-family:Arial;border:1px solid black">
    <div style="float:left; padding-left:80px;padding-top:10px;">
    <img src="http://japanmacroadvisors.com/images/mail_template/logo.png" />
    
			<h3>Welcome to Japan Macro Advisors</h3>
			</div>
<div>
<img src="http://japanmacroadvisors.com/images/mail_template/jmabanner.jpg" />
</div><br />		
<div style="width:655px; float:left; margin-top:-10px; padding-left:80px">
		
			<p style="font-size:14px;">Dear <b>{{name}}</b>,</p>
<p style="font-size:14px;">We regret to inform you that your payment to renew your monthly Premium subscription with email address <a style="font-size:14px;" href="mailto:{{email}}">{{email}}</a> did not process. This happens sometime due to credit card decline, change in card expiration date or a need to “verify” your credit card.</p>
<p style="font-size:14px;">Your overdue payment is</p>
<p style="font-size:14px;">Amount: {{currency}} {{amount}}</p>
<p style="font-size:14px;">First, please reply back to us to confirm that you received the notice and you are working to resolve the issue.</p>
<p style="font-size:14px;">Please note that you have the privilege to change your credit card details with us. To add another card please follow the <a style="font-size:14px;" href="http://japanmacroadvisors.com/user/dopayment">payment page link </a>. </p>
<p style="font-size:14px;">You can access your subscription details page <a style="font-size:14px;" href="http://japanmacroadvisors.com/user/myaccount/subscription">Manage Subscription</a></p>
<p style="font-size:14px;">If you need any help, please let us know so we can assist you before your subscription is cancelled.</p>
<p style="font-size:14px;">Thank you,
<br>Japan Macro Advisors
<br><a style="font-size:14px;" href="http://japanmacroadvisors.com/">www.japanmacroadvisors.com</a></p>
    		
       
	</div>
</div>
</body>
</html>