<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Japan Macro Advisors</title>
</head>
<body>
	<div style="width:818px;float:left; font-family:Arial;border:1px solid black">
    <div style="float:left; padding-left:80px;padding-top:10px;">
    <img src="http://japanmacroadvisors.com/images/mail_template/logo.png" />
    
			<h3>Welcome to Japan Macro Advisors</h3>
			</div>
<div>
<img src="http://japanmacroadvisors.com/images/mail_template/jmabanner.jpg" />
</div><br />		
<div style="width:655px; float:left; margin-top:-10px; padding-left:80px">
		
			<p style="font-size:14px;">Dear <b>{{name}}</b>,</p>

<p style="font-size:14px;">Thank you for choosing Japan Macro Advisors. Your Premium subscription with the email address <a style='font-size:14px;' href="mailto:{{email}}">{{email}}</a> has been successful and your Premium account is now active.  Your monthly subscription fee is.</p>

<p style="font-size:14px;">Amount: JPY 3500</p>

<p style="font-size:14px;">Your monthly subscription will auto-renew every month. </p>
<p style="font-size:14px;">For any assistance, contact our <a style='font-size:14px;' href="http://japanmacroadvisors.com/helpdesk/post/">Helpdesk</a> or <a style='font-size:14px;' href="http://japanmacroadvisors.com/contact">Support</a></p>

<p style="font-size:14px;">Thank you,

<br>Japan Macro Advisors

<br><a  style='font-size:14px;' href="http://japanmacroadvisors.com/">www.japanmacroadvisors.com</a></p>
    		
       
	</div>
</div>
</body>
</html>