<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Japan Macro Advisors</title>
</head>
<body>
	<div style="width:818px;float:left; font-family:Arial;border:1px solid black">
    <div style="float:left; padding-left:80px;padding-top:10px;">
    <img src="http://japanmacroadvisors.com/images/mail_template/logo.png" />
    
			<h3>Welcome to Japan Macro Advisors</h3>
			</div>
<div>
<img src="http://japanmacroadvisors.com/images/mail_template/jmabanner.jpg" />
</div><br />		
<div style="width:655px; float:left; margin-top:-10px; padding-left:80px">
		<p style="font-size:14px;">Dear {{name}},</p>
			<p style="font-size:14px;">
				To activate your JMA account, click on the button below or paste the link below into your browser.
    		</p>
    		<p style="font-size:14px;">
<a style='font-size:14px;' href='{{activation_link}}' ><img src = "http://japanmacroadvisors.com/images/btn/activate_account_btn.png"></a>
<br><br>Link : {{activation_link}}<br><br>
</p>

       <p style="font-size:14px;">Thank you,<br>Japan Macro Advisors</p>
       	<p style="font-size:14px;"><br>
	Follow us on: <br><br>
	Twitter: <a style='font-size:14px;' href="https://twitter.com/JapanMadvisors" target="_blank">@japanMadvisors</a><br>
	Facebook: <a style='font-size:14px;' href="www.facebook.com/japanmacroadvisors" target="_blank">www.facebook.com/japanmacroadvisors</a><br>
	Linkedin: <a style='font-size:14px;' href="www.linkedin.com/company/japan-macro-advisors" target="_blank">www.linkedin.com/company/japan-macro-advisors</a>
	</p>
	</div>
</div>
</body>
</html>