<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Japan Macro Advisors</title>
</head>
<body>
	<div style="width:818px;float:left; font-family:Arial;border:1px solid black">
    <div style="float:left; padding-left:80px;padding-top:10px;">
    <img src="http://japanmacroadvisors.com/images/mail_template/logo.png" />
    </div>
<div>
<img src="http://japanmacroadvisors.com/images/mail_template/jmabanner.jpg" />
</div><br>		
<div style="width:655px; float:left; margin-top:-10px; padding-left:80px">
		<p style="font-size:14px;">Dear {{name}},</p>
			<!-- <p style="font-size:14px;">Welcome to Japan Macro Advisors and thank you for signing up.</p>
			<p>If you have requested information on our {{title}}, our representative will contact you shortly.</p> -->
			

<p style="font-size:14px;">Thank you for signing up to Japan Macro Advisors. We hope you find our updated timely and informative.</p>
<p style="font-size:14px;">If you requested information on our Corporate account, a representative will contact you shortly.</p>
		<p style='font-size:14px;'><b>Account information :</b></p>
    <p style="font-size:14px; color:#000; font-weight:bold">
    	Account type : {{accountType}}<br><br>
       	Email : <span style="text-decoration: none;font-size:14px;">{{username}}</span><br><br>
       	Password : {{password}}
    </p>
	<!-- <p style="font-size:14px;"><strong>We hope our service provides you with timely insights and a deeper understanding of Japan.</strong></p>

	<p style="font-size:14px;"><strong>Quick look upon data releases with chart functions</strong>
	Play around our interactive charts and download the chart image to share your own views on your blog or SNS.<br> -->

	<p style="font-size:14px;"><strong>JMA offers the following services:</strong></p>
	<p style="font-size:14px;"><strong>Data and Charts</strong><br>
	<a style='font-size:14px;' href="javascript:;" >Play around our interactive charts and download the chart image to share your own views on your blog or SNS.</a><br>
	<a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/economic-indicators/gdp-and-business-activity/gdp" target="_blank">GDP & Business activity</a><br>
	<a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/economic-indicators/international-balance/balance-of-payment" target="_blank">International balance</a><br>
	<a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/economic-indicators/inflation-and-prices/cpi" target="_blank">Inflation and price</a><br>
	<a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/economic-indicators/labor-markets/job-offers-to-applicant-ratio" target="_blank">Labor market</a><br>
	... and more!<br>
	</p>



	<p style="font-size:14px;"><strong>Our Economic Analysis on Japan</strong><br>
	Newsletters sent to your inbox offer short summaries of reports from our economists.
	<br>
	<!-- <a href="http://japanmacroadvisors.com/page/category/our-views-on-japan" target="_blank">Our Views on Japan: </a>Periodically updated report on our outlook for the Japanese economy.<br>
	<a href="http://japanmacroadvisors.com/page/category/breaking-news" target="_blank">Breaking News: </a>In-depth analysis of trends and key events in Japan.<br> -->
<b><a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/our-views-on-japan" target="_blank">Japan outlook :</a></b> A periodically updated report on the direction of the Japanese economy.<br>
<b><a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/breaking-news" target="_blank">News : </a></b>In-depth analysis of trends and key events in Japan.

	</p>

	<p style="font-size:14px;"><strong>My Charts</strong><br>
	My charts, a useful platform for your economic research.<br>
Create and save your own charts and much more!
	
	</p>

	<p style="font-size:14px;"><strong>Special Reports</strong><br>
	Periodical reports on the mid- to long-term outlook for Japan.<br>
	<a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/special-reports/how-global-is-japan-inc" target="_blank">How global is Japan Inc?</a><br>
	<a style='font-size:14px;' href="http://japanmacroadvisors.com/page/category/special-reports/abenomics-progress-report" target="_blank">Abenomics progress report</a><br>
	... and more!<br>
	</p>
	<p style="font-size:14px;">
	Premium contents require Corporate accounts or Premium accounts. If you are interested in upgrading your account, please contact us at <a href="mailto:info@japanmacroadvisors.com">info@japanmacroadvisors.com</a>.
	</p>
	<p style="font-size:14px;">
	If you encounter any problems with our services, please mail site <a style='font-size:14px;' href="mailto:support@japanmacroadvisors.com">support@japanmacroadvisors.com</a>.
	</p>
	Thank you for choosing Japan Macro Advisors.
		<p style="font-size:14px;"><br>
	Follow us on: <br><br>
	Twitter: <a style='font-size:14px;' href="https://twitter.com/JapanMadvisors" target="_blank">@japanMadvisors</a><br>
	Facebook: <a style='font-size:14px;' href="www.facebook.com/japanmacroadvisors" target="_blank">www.facebook.com/japanmacroadvisors</a><br>
	Linkedin: <a style='font-size:14px;' href="www.linkedin.com/company/japan-macro-advisors" target="_blank">www.linkedin.com/company/japan-macro-advisors</a>
	</p>
	</div>
</div>
</body>
</html>